@media screen and (max-width: 1160px) {
	
}
@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 979px) {
	.promo-text-1{
		font-size: 120px;
		line-height: 130px;
	}
	.promo-text-2 {
	    font-size: 70px;
	    line-height: 70px;
	    letter-spacing: -2px;
	}
	.promo-text-3 {
	    font-size: 20px;
	    line-height: 28px;
	    letter-spacing: -1px;
	}
	.kopa-area-1{
	    padding: 100px 0 0;
	    > .container {
	        > .row{
	            .widget {
	                margin-bottom: 100px;
	            }
	        }
	    }
	}
	.reading-module-article-list-1{
	    .widget-content > ul{
	        > li{
	            width: 100%;
	        }
	    }
	}
	.masonry-container.row {
		> div{
			width: 50%;
		}
	}
	.reading-module-ads-2 {
		.widget-content{
			padding: 77px 0 25px 0;
		}
	}
	.bottom-sidebar{
		.container{
			> .row{
				> div{
					width: 1/3 * 100%;
					margin-top: 90px;
					&:first-child{
						width: 100%;
						margin-top: 0;
					}
				}
			}
		}
	}
	.ct-widget-1{
		padding: 0;
	}
	.masonry-filter a {
	    margin: 0 7px 30px;
	}
	.ct-item-2 {
	    padding-left: 30px;
	}
	.reading-module-intro-4 .widget-content h4{
		font-size: 18px;
	}
	.reading-module-search-2,
	.reading-module-search-3{
		.widget-content{
			> .row{
				> div{
					width: 100%;
					margin: 15px 0;
					&:first-child{
						margin: 0;
					}	
				}
			} 
		}
	}
	.reading-module-search-3{
		padding: 20px 30px;
	}
	.main-col, .sidebar{
		width: 100%;
		margin-top: 100px;
		&.kopa-area, &:first-child{
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 799px) {
	.reading-module-promo-2{
	    .widget-content{
	        p{
	            font-size: 30px;
	            line-height: 38px;
	        }
	        h4{
	            font-size: 50px;
	            line-height: 60px;
	        }
	    }
	}

}

@media screen and (max-width: 767px) {
	.reading-module-ads-2{
		padding: 60px 0 0 0;
	}
	.kopa-footer{
		text-align: center;
		.container{
			> div{
				float: none;
				margin-top: 25px;
				&:first-child{
					margin-top: 0;
				}
				ul{
					li{
						float: none;
						display: inline-block;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.promo-text-1 {
	    font-size: 60px;
	    line-height: 70px;
	}
	.promo-text-2 {
	    font-size: 40px;
	    line-height: 40px;
	}
	.promo-text-3 {
	    font-size: 12px;
	    line-height: 20px;
	    padding: 4px 10px;
	}
	.kopa-area-1{
        padding: 60px 0 0;
        > .container {
            > .row{
                .widget {
                    margin-bottom: 60px;
                }
            }
        }
    }
    .reading-module-search-1{
	    padding: 30px 20px;
	    .search-box-1{
	        margin-top: 20px;
	    }
	    .search-box-1 {
		    .search-form-1 {
		        .search-text {
		            height: 40px;
		            line-height: 40px;
		            font-size: 14px;
		        }
		        .search-submit {
		            margin-top: 20px;
		        }
		    }
		}
	}
    .masonry-container.row {
        > div{
            width: 100%;
        }
    }
    .masonry-header{
    	padding: 0 15px;
    	margin-bottom: 30px; 
    	.kopa-btn-5{
    		display: none;
    	}
    }
    .masonry-filter{
	    a{ 
	        margin: 0 7px 15px;
	        padding: 15px 0 0;
	    }
	}
	.reading-module-ads-2{
		padding: 0;
		.widget-content{
			padding: 0;
		}
	}
	.bottom-sidebar{
        .container{
            > .row{
                > div{
                    width: 100%;
                    margin-top: 40px;
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .bottom-sidebar { 
	    &.style-01{
	        padding-top: 160px;
	    }
	}
	.reading-module-promo-2{
	    .widget-content{
	        p{
	            font-size: 20px;
	            line-height: 28px;
	        }
	        h4{
	            font-size: 40px;
	            line-height: 50px;
	        }
	    }
	}
	.ct-item-2{
		padding: 0;
	}
	.main-col, .sidebar{
		margin-top: 40px;
		&.kopa-area, &:first-child{
			margin-top: 0;
		}
	}
	.search-box-2{ 
        .search-form-2 {
            padding: 0;
            .search-text {
                width: 100%;
            }
            .search-submit {
                position: relative;
                top: auto;
                right: auto;
                margin-top: 20px;
            }
        }
        .dropdown{
            position: relative;
            top: auto;
            right: auto;
            margin-top: 20px;
            button{
                width: 100%;
            }
        }
    }
    div[class*="widget-content-area"]{
    	> .row{
    		> div{
    			width: 100%;
    			margin-top: 40px;
    			&:first-child{
    				margin-top: 0;
    			}
    		}
    	}
    }
}

@media screen and (max-width: 479px) {
	body {
	    font-size: 14px;
	    line-height: 22px;
	}
	.widget-title{
	    font-size: 24px;
	    line-height: 32px;
	}
	.kopa-cart .kopa-dropdown-content {
	    width: 300px;
	}
	.reading-module-scroll .item-list > li {
	    width: 300px;
	}
	.kopa-area-2{
	    padding: 70px 0 40px;
	}
	.kopa-area-3 {
	    padding: 150px 0;
	}
	.kopa-area-4{
	    padding: 20px 0;
	}
	.kopa-area-5{
	    padding: 150px 0;
	}
	.kopa-area-6{
	    padding: 0 0 150px;
	}
	.kopa-area-7{
	    padding: 0;
	}
	.reading-module-ads-2{
		.widget-content{
			img{
				&:last-child{
					display: none;
				}
			}
		}
	}
    .kopa-footer{
        .container{
            > div{
                margin-top: 0;
                ul{
                    display: none;
                }
            }
        }
    }
	.reading-module-promo-2{
	    .widget-content{
	        h4{
	            font-size: 26px;
	            line-height: 36px;
	        }
	    }
	}
}

@media screen and (max-width: 359px) {
	
}

@media screen and (min-width: 980px) {
	.col-md-3{
		width: 24.95%;
	}
}