@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Arizonia);

$font-primary: 'Roboto';
$font-secondary: 'Roboto';
$font-support: 'Monoton', cursive;
$font-01: 'Arizonia', cursive;

$color-primary: #212121;
$color-secondary: #686868;

$color-hover: #ff4157;
$color-001: #aa71d0;
$color-002: #42bab0;
$color-003: #ffb400;


$cl-001: #fff;
$cl-002: #000;
$cl-003: #eeeeee;
$cl-004: #c7c7c7;
$cl-005: #f5f5f5;
$cl-006: #f1f1f1;
$cl-007: #f8f8f8;
$cl-008: #e9e9e9;
$cl-009: #999;
$cl-010: #a1a1a1;
$cl-011: #323232;
$cl-012: #191919;
$cl-013: #e5e5e5;
$cl-014: #fcfcfc;
$cl-015: #fafafa;
$cl-016: #757575;
$cl-017: #dcdcdc;


$font-size: 14px;
$line-height: 22px;
$top: 50%; 

%list_reset {
    list-style: none;
    padding: 0;
    margin: 0;
    &.row{
        margin: 0 -15px;
    }
    li{
        list-style: none;
        margin: 0;
    }
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
        &.row{
            margin: 0 -15px;
        }
        li{
            list-style: none;
        }
    }
}

%main_color {
    color: $color-hover;
}

%main_bg_color {
    background: $color-hover;
}

%main_bd_color {
    border-color: $color-hover;
}

%main_bdt_color {
    border-top-color: $color-hover;
}

%main_bdr_color {
    border-right-color: $color-hover;
}

%main_bdb_color {
    border-bottom-color: $color-hover;
}

%main_bdl_color {
    border-left-color: $color-hover;
}

%maini_color {
    color: $color-hover !important;
}

%list_format {
    li:first-child {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%transition {
    transition: all .3s, visibility 0s;
    -ms-transition: all .3s, visibility 0s;
    -webkit-transition: all .3s, visibility 0s;
    -moz-transition: all .3s, visibility 0s;
}

%fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%ti {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%text_format {
    font-size: $font-size;
    line-height: $line-height;
    font-style: normal;
}

@mixin list_t($margin-t, $padding-t, $border-t) {
    margin-top: $margin-t;
    padding-top: $padding-t;
    border-top: $border-t;
}

@mixin list_r($margin-r, $padding-r, $border-r) {
    margin-right: $margin-r;
    padding-right: $padding-r;
    border-right: $border-r;
}

@mixin list_b($margin-b, $padding-b, $border-b) {
    margin-bottom: $margin-b;
    padding-bottom: $padding-b;
    border-bottom: $border-b;
}
@mixin list_l($margin-l, $padding-l, $border-l) {
    margin-left: $margin-l;
    padding-left: $padding-l;
    border-left: $border-l;
}

@mixin icon($width, $height, $line-height, $font-size) {
    display: inline-block;
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
}

@mixin button($width, $height, $line-height, $font-size, $top) {
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    position: absolute;
    top: $top;
    margin-top: -$height / 2;
    margin-left: -$width / 2;
}

@mixin opacity($opacity) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+ $opacity * 100 + ")";    
    /* Netscape */
    -moz-opacity: $opacity;
    /* Safari 1.x */
    -khtml-opacity: $opacity;
    /* Good browsers */
    opacity: $opacity;
}


@mixin before-left($top,$bottom,$right,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-right: $right solid $color;
    top: $topp;
    left: -$right;
}

@mixin before-right($top,$bottom,$left,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-left: $left solid $color;
    top: $topp;
    right: -$left;
}

@mixin before-bottom($left,$right,$top,$color,$bottom) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-top: $top solid $color;
    bottom: $bottom;
    left: 50%;
    margin-left: -$left;
}

@mixin before-top($left,$right,$bottom,$color,$top) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-bottom: $bottom solid $color;
    top: $top;
    left: 50%;
    margin-left: -$left;
}

@mixin transition($time) {
    transition: all $time, visibility 0s;
    -ms-transition: all $time, visibility 0s;
    -webkit-transition: all $time, visibility 0s;
    -moz-transition: all $time, visibility 0s;
}


@mixin transform($transformx) {
    -webkit-transform: $transformx;
    -moz-transform: $transformx;
    -ms-transform: $transformx;
    -o-transform: $transformx;
    transform: $transformx;
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin skew($skew) {
    @include transform(skew($skew));
}

@mixin rotate($rotate) {
    @include transform(rotate($rotate));
}

@mixin translateX($translateX) {
    @include transform(translateX($translateX));
}

@mixin translateY($translateY) {
    @include transform(translateY($translateY));
}

@mixin text_format($font-family, $font-size, $line-height, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin transform-origin($x, $y) {
    -webkit-transform-origin : $x $y;
       -moz-transform-origin : $x $y;
        -ms-transform-origin : $x $y;
         -o-transform-origin : $x $y;
            transform-origin : $x $y;
}

@mixin list_format($margin, $padding, $border) {
    li:first-child {
        margin: $margin;
        padding: $padding;
        border: $border;
    }
}


::selection {
    background: $color-hover;
    color: $cl-001;
    text-shadow: none;
}

::-moz-selection {
    background: $color-hover;
    color: $cl-001;
    text-shadow: none;
}