@import "sass/style-sass";


/**
 *
 *

1.2.1 Default Structure Tag

1.2.2 Basic Structure Class

1.2.3 Custom Layout

1.2.4 Default Article

1.2.5 Default Widget

1.2.6 Elements

 
 * 
 **/

/*___________ 1.2.1 Default Structure Tag ___________*/


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: $font-primary;
    color: $color-primary;
    font-weight: 400;
    display: block;
    margin: 0 0 15px;
}

h1,
.h1 {
    font-size: 36px;
    line-height: 44px;
}

h2,
.h2 {
    font-size: 28px;
    line-height: 36px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 32px;
}

h4,
.h4 {
    font-size: 20px;
    line-height: 28px;
}

h5,
.h5 {
    font-size: 18px;
    line-height: 26px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $color-primary;
    @extend %transition;
    text-decoration: none !important;
    outline: none !important;
    &:hover,
    &:focus,
    &.active {
        @extend %main_color;
    }
}

ol {
    counter-reset: item;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 40px;
}

ul {
    list-style: square;
    margin: 5px 0px;
    padding: 0 0 0 10px;
}

ul li {
    list-style: inside square;
    margin-bottom: 10px;
}

ul li > ol > li {
    list-style: inside decimal;
}

ol li ol li,
ul li ol li ol li {
    list-style: lower-alpha inside none;
}

ol li {
    list-style: inside decimal;
    margin-bottom: 10px;
}

ol li > ul,
ul li > ol {
    margin-top: 10px;
    margin-left: 10px;
}

ol li > ul > li {
    list-style: inside square;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    height: auto;
}

input, select, button {
    outline: none !important;
    box-shadow: none !important;
    @extend %transition;
}

p.reset {
    margin: 0;
}

p:last-child {
    margin: 0;
}

cite,
em,
var,
address,
dfn {
    font-style: italic;
}

i {
    font-style: normal;
}

p {
    i {
        font-style: italic;
    }
}

iframe {
    border: none;
    width: 100%;
}

blockquote{
    border-left: 0px;
}

::-webkit-input-placeholder {
    color: $color-secondary;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $color-secondary;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-secondary;
}

:-ms-input-placeholder {
    color: $color-secondary;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-secondary;
    @extend %text_format;
    font-weight: 300;
    color: $color-secondary;
    background: $cl-001;
    overflow: hidden;
}
.main-container{
    background: $cl-001;
    @include transition(.1s ease-in-out);
    &.scale-down{
        @include transition(.4s ease-in-out);
    }
} 
.body-overlay{
    position: fixed; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    @include transition(.1s ease-in-out);
    z-index: -1;
    &.active{
        z-index: 99999999;
        @include transition(.4s ease-in-out);
    }
}
.body-background{
    @extend .body-overlay;
    background: $cl-002;
    z-index: -2;
}

/*___________ 1.2.2 Basic Structure Class ___________*/

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.wp-caption.alignleft,
img.alignleft {
    margin: 5px 30px 15px 0;
}

.wp-caption.alignleft {
    margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
    margin: 5px 0 5px 30px;
}

.wp-caption.alignright {
    margin: 5px 0 5px 10px;
}

img.aligncenter {
    margin: 5px auto;
}

img.alignnone {
    margin: 5px 0;
}

.entry-box .entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
    max-width: 100%;
    height: auto;
}

.entry-box .entry-content address {
    font-style: italic;
}

.text-hover {
    @extend %main_color;
}

.text-light {
    font-weight: 300;
}

.txt-up {
    text-transform: uppercase;
}

.txt-cap {
    text-transform: capitalize;
}

.txt-main-color {
    @extend %main_color;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    @extend %clearfix;
    @media screen and (max-width: 1160px) {
        width: 1000px;
    }
    @media screen and (max-width: 1023px) {
        width: 960px;
    }
    @media screen and (max-width: 979px) {
        width: 780px;
    }
    @media screen and (max-width: 799px) {
        width: 748px;
    }
    @media screen and (max-width: 767px) {
        width: 620px;
    }
    @media screen and (max-width: 639px) {
        width: 460px;
    }
    @media screen and (max-width: 479px) {
        width: 340px;
    }
    @media screen and (max-width: 359px) {
        width: 300px;
    }
}

.loading {
    background: url("images/background/bg/white/9.png");
    background: rgba(255, 255, 255, 0.9);
    min-height: 602px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        margin-left: -13px;
        margin-top: -15px;
        color: $color-primary;
    }
}
div[class*="module-slider"]{
    .loading{
        position: relative;
    }
    .slider-pro{
        display: none;
    }
}

/*--- layout ---*/

.kopa-pull-left{
    float: left;
}
.kopa-pull-right{
    float: right;
}

/*--- pagination ---*/

.pagination {
    @extend %list_reset;
    @extend %clearfix;
    width: 100%;
    position: relative;
    border-radius: 0;
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    padding: 15px 25px;
    margin-top: 50px;
    .screen-reader-text{
        display: none;
    }
    .nav-links {
        padding: 0;
        margin: -8px -4px 0;
        float: right;
        a,span {
            float: left;
            margin: 8px 4px 0;
            border: 1px solid $cl-006;
            padding: 0 4px;
            text-align: center;
            min-width: 25px;
            font-size: 12px;
            line-height: 23px;
            height: 25px;
            position: relative;
            color: $color-secondary;
            border-radius: 25px;
            font-weight: 400;
            i{
                font-weight: 400;
            }
        }
        span.current {
            color: $cl-001;
            @extend %main_bg_color;
            @extend %main_bd_color;
        }
        a {
            &.prev, &.next{
                color: $cl-001;
                background: $color-primary;
                border-color: $color-primary;
                &:hover {
                    color: $cl-001;
                    @extend %main_bg_color;
                    @extend %main_bd_color;
                }
            }
            &:hover {
                color: $cl-001;
                @extend %main_bg_color;
                @extend %main_bd_color;
            }
        }
    }
}

/*--- breadcrumb ---*/

.kopa-breadcrumb{
    text-transform: capitalize;
    word-wrap: break-word;
    h3{
        font-size: 36px;
        line-height: 44px;
        font-weight: 500;
        margin-bottom: 20px;
        @media screen and (max-width: 639px){ 
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 15px;
        }
    }
    .breadcrumb-content {
        span {
            @extend %transition;
        }
        a.current-page {
            span{
                @extend %main_color;
            }
        }
    }
    .kopa-pull-left{
        h3{
            margin-bottom: 0;
        }
    }
    .kopa-pull-right{
        .breadcrumb-content{
            margin-top: 12px;
        }
    }
    @media screen and (max-width: 639px){ 
        .kopa-pull-left, .kopa-pull-right{
            float: none;
            width: 100%;
        }
    }
}
.kopa-breadcrumb.style-01{
    padding: 19px 0;
    color: $cl-009;
    span {
        @extend %transition;
    }
    a{
        span{
            color: $cl-009;
            &:hover{
                @extend %main_color;
            }
        }
    }
    a.current-page {
        span{
            @extend %main_color;
        }
    }
}

/*--- owl-button ---*/

.owl-theme {
    .owl-controls {
        @include transition(0.5s);
        margin: 0;
        .owl-buttons div {
            color: $cl-001;
            background: url("images/background/bg/black/3.png");
            background: rgba(0, 0, 0, 0.3);
            padding: 0;
            margin: 0;
            border-radius: 0;
            @include button(24px, 24px, 24px, 14px, $top);
            margin-left: 0;
            @include opacity(1);
            @extend %transition;
            &:hover {
                @extend %main_bg_color;
                color: $cl-001;
            }
            &.owl-prev {
                left: 0;
                padding-right: 2px;
                &:before {
                    content: "\f104";
                    @extend %fa;
                }
            }
            &.owl-next {
                right: 0;
                padding-left: 2px;
                &:before {
                    content: "\f105";
                    @extend %fa;
                }
            }
        }
        .owl-pagination {
            text-align: center;
            margin: 20px 0 0;
            .owl-page {
                span {
                    width: 12px;
                    height: 12px;
                    margin: 14px 6px 0;
                    border: none;
                    background: $cl-008;
                    border-radius: 50%;
                    @extend %transition;
                    @include opacity(1);
                }
                &.active span,
                &:hover span {
                    @extend %main_bg_color;
                }
            }
        }
    }
}

.owl-btn-01{
    .owl-controls {
        text-align: left;
        margin: 40px 0 0 26px;
        .owl-buttons {
            display: inline-block;
                div {
                color: rgba(255,255,255,.5);
                background: none;
                position: relative;
                top: auto;
                width: auto;
                height: auto;
                font-size: 30px;
                &:hover {
                    background: none !important;
                    @extend %maini_color;
                }
                &.owl-prev {
                    left: auto;
                    padding-right: 0;
                }
                &.owl-next {
                    right: 0;
                    padding-left: 25px;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        top: -1px;
                        left: 12px;
                        width: 1px;
                        height: 33px;
                        background: rgba(255,255,255,.5);
                    }
                }
            }
        }
    }
}

.owl-btn-02{
    .owl-controls {
        position: absolute;
        top: -71px;
        right: 35px;
        .owl-buttons {
            display: inline-block;
            margin: 0 -4px;
            div {
                @include button(18px, 18px, 18px, 14px, $top);
                border-radius: 50%;
                color: $color-primary;
                background: $cl-009;
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                padding: 0;
                margin: 0 4px;
                @extend %transition;
                &:hover {
                    @extend %main_bg_color;
                    color: $color-primary;
                }
                &.owl-prev {
                    &:before{
                        content: '\f0d9';
                    }
                }
                &.owl-next {
                    &:before{
                        content: '\f0da';
                    }
                }
            }
        }
    }
}

.owl-btn-03{
    .owl-controls {
        .owl-buttons {
            div {
                @include button(40px, 40px, 40px, 14px, $top);
                border-radius: 50%;
                color: $color-primary;
                background: $cl-005;
                margin-left: 0;
                &.owl-prev {
                    left: 30px;
                    &:before{
                        content: '\f0d9';
                    }
                }
                &.owl-next {
                    right: 30px;
                    &:before{
                        content: '\f0da';
                    }
                }
                @media screen and (max-width: 767px){ 
                    @include button(20px, 20px, 20px, 12px, $top);
                    margin-left: 0;
                    &.owl-prev {
                        left: 15px;
                    }
                    &.owl-next {
                        right: 15px;
                    }
                }
            }
        }
    }
}

/*--- masonry ---*/

.masonry-header{
    position: relative;
    background: $cl-001;
    padding: 0 100px 0 15px;
    border: 1px solid $cl-008;
    border-top: none;
    text-transform: capitalize;
    color: $color-secondary;
    margin-bottom: 48px;
    .kopa-btn-5{
        position: absolute;
        right: 40px;
        top: 50%;
        margin-top: -11px;
    }
}
.masonry-filter{
    a{ 
        display: inline-block;
        margin: 0 25px 30px;
        padding: 30px 0 0;
        color: $color-secondary;
        position: relative;
        @include transition(.5s ease);
        &:before, &:after {
            @extend %main_bg_color;
            height: 3px;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 50%;
            bottom: auto;
            left: 50%;
            content: '';
            @include opacity(0);
            @extend %transition;
        }
        span{
            display: inline-block;
            width: 4px;
            height: 4px;
            @extend %main_bg_color;
            margin: 0 7px 2px 0;
        }
        &:after{
            display: block;
        }
        &.style-01{
            font-weight: 400;
            span{
                display: none;
            }
        }
        &.style-03{
            span{
                background: $color-001;
            }
        }
        &.style-04{
            span{
                background: $color-003;
            }
        }
        &.style-05{
            span{
                background: $color-002;
            }
        }
        &.style-06{
            @extend .style-01;
            &:before, &:after {
                background: $color-003;
            }
            &:hover, &.active{
                color: $color-003;
            }
        }
        &.style-07{
            @extend .style-01;
            &:before, &:after {
                background: $color-001;
            }
            &:hover, &.active{
                color: $color-001;
            }
        }
        &.style-08{
            @extend .style-01;
            &:before, &:after {
                background: $color-002;
            }
            &:hover, &.active{
                color: $color-002;
            }
        }
        &:hover, &.active{
            @extend %main_color;
            &:before{
                left: 0;
                @include opacity(1);
            }
            &:after{
                @include opacity(1);
                right: 0;
            }
        }
    }
}
.masonry-container.row{
    margin-top: -30px;
    > div[class*="col-"]{
        margin-top: 30px;
    }
}


/*--- social links ---*/

.kopa-social-links {
    @extend %list_reset;
    ul {
        @extend %clearfix;
        position: relative;
        margin: -10px -15px 0;
        li {
            display: inline-block;
            position: relative;
            margin: 10px 15px 0;
            font-family: $font-primary;
            line-height: 1em;
            a {
                font-size: 15px;
                line-height: 1em;
            }
        }
    }
}
.kopa-social-links.style-01 {
    ul {
        padding: 0 0 15px;
        text-align: center;
        margin: 0px;
        border-top: 1px solid rgba(255,255,255,.15);
        border-bottom: 1px solid rgba(255,255,255,.15);
        li {
            margin: 22px 16px 0;
            a {
                font-size: 18px;
            }
        }
    }
}
.kopa-social-links.style-02 {
    ul {
        margin: -8px -4px 0px;
        li {
            margin: 8px 4px 0;
            a {
                @include icon(40px, 40px, 40px, 14px);
                border-radius: 50%;
                background: $cl-011;
                color: $cl-009;
                &:hover{
                    @extend %main_color;
                }
            }
        }
    }
}
.kopa-social-links.style-03 {
    ul {
        margin: -20px -10px 0;
        li {
            margin: 20px 10px 0;
            a {
                font-size: 13px;
                color: $cl-009;
                &:hover{
                    @extend %main_color;
                }
            }
        }
    }
}
.kopa-social-links.style-04{
    @extend .kopa-social-links.style-03;
    ul {
        li {
            a {
                font-size: 14px;
                color: $color-secondary;
                &:hover{
                    @extend %main_color;
                }
            }
        }
    }
}
.kopa-social-links.style-05{
    ul {
        margin: -15px -10px 0;
        li {
            margin: 15px 10px 0;
            a {
                font-size: 18px;
            }
        }
    }
}

/*--- element-wrap ---*/

.element-wrap{
    > .row{
        margin-top: 90px;
        &:first-child{
            margin-top: 0;
        }
    }
}
.element-title{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 45px;
    text-transform: uppercase;
}

/*--- CUSTOM ---*/


/*--- row ---*/

.ct-row-1{
    margin: 0;
    > div{
        padding: 0;
    }
}


.ct-row-2{
    margin: 0 -35px;
    > div{
        padding: 0 35px;
    }
    @media screen and (max-width: 979px){ 
        margin: 0 -15px;
        > div{
            padding: 0 15px;
        }
    }
}

.ct-row-3{
    .main-col{
        padding-left: 35px;
    }
    @media screen and (max-width: 979px){ 
        .main-col{
            padding-left: 15px;
        }
    }
}

 
/*--- col---*/

.col-custom-5{
    float: left;
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*--- title ---*/

.ct-title-1 {
    font-size: 16px;
    line-height: 24px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 25px;
    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 3px;
        height: 20px;
        @extend %main_bg_color;
    }
}

.ct-title-2{
    position: relative;
    padding-left: 23px;
    margin-bottom: 18px;
    h5{
        font-size: 30px;
        line-height: 38px;
        font-weight: 300;
        text-transform: capitalize;
        margin-bottom: 2px;
    }
    h4{
        font-size: 30px;
        line-height: 38px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &:before {
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        width: 3px;
        height: 80%;
        @extend %main_bg_color;
    }
}
.ct-title-3{
    @extend .ct-title-2;
    h4{
        @extend %main_color;
    }
}

.ct-title-4 {
    font-size: 24px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 3px;
        height: 24px;
        @extend %main_bg_color;
    }
    span{
        font-weight: 300;
        @extend %main_color;
    }
}
.ct-title-5{
    @extend .ct-title-2;
    padding-left: 20px;
    margin-bottom: 12px;
    h5{
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
    }
    h4{
        font-size: 24px;
        line-height: 32px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        width: 3px;
        height: 80%;
        @extend %main_bg_color;
    }
}
.ct-title-6{
    text-transform: uppercase;
    font-weight: 700;
    @extend %main_color;
}
.ct-title-7{
    font-weight: 300;
    text-transform: capitalize;
    @extend %main_color;
    padding-right: 23px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 10%;
        right: 0;
        width: 5px;
        height: 80%;
        @extend %main_bg_color;
    }
}
.ct-title-8{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    @extend %main_color;
}

.ct-title-9{
    @extend .ct-title-7;
    padding: 0 0 0 23px;
    &:before {
        right: auto;
        left: 0;
    }
}
.ct-title-10 {
    @extend .ct-title-4;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 30px;
    &:before {
        top: -1px;
        width: 6px;
        height: 34px;
    }
}
.ct-title-11{
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    text-transform: capitalize;
    span{
        color: $cl-004;
        font-weight: 300;
        position: relative;
        padding-left: 21px;
        &:before {
            content: '';
            width: 3px;
            height: 25px;
            display: inline-block;
            background: $cl-004;
            position: absolute;
            top: 4px;
            left: 9px;
        }
    }       
}
.ct-title-12{
    @extend .ct-title-6;
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
}

/*--- text ---*/

.txt-cl-1{
    @extend %main_color;
}
.txt-cl-2{
    color: $color-002;
}

.ct-txt-1{
    font-size: 36px;
    line-height: 44px;
    @media screen and (max-width: 639px){ 
        font-size: 22px;
        line-height: 30px;
    }
}


/*--- list ---*/

.ct-list.style-01 {
    @extend %clearfix;
    @extend %list_reset;
    li{
        margin-top: 12px;
        &:before{
            display: none;
        }
        &:first-child{
            margin-top: 0;
        }
    }
    span{
        @extend %main_color;
        margin-right: 18px;
    }
}


/*--- icon ---*/

.ct-icon-1{
    @include icon(55px, 55px, 55px, 18px);
    font-weight: 700;
    color: $cl-001;
    border-radius: 50%;
    @extend %main_bg_color;
    span{
        font-size: 10px;
    }
    .ct-1{
        display: block;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 11px;
    }
    .ct-2{
        @extend .ct-1;
        font-size: 12px;
        line-height: 12px;
        margin-top: 0;
    }
}
.ct-icon-2{
    @include icon(56px, 56px, 48px, 16px);
    color: $color-secondary;
    border: 4px solid $cl-007;
    border-radius: 50%;
    background: $cl-001;
}
.white-text-style{
    .ct-icon-2{
        span{
            color: $color-secondary;
        }
    }
}
.ct-icon-3{
    @include icon(40px, 40px, 40px, 14px);
    color: $color-secondary;
    border-radius: 50%;
    background: $cl-007;
    position: relative;
    &:hover{
        @extend %main_color;
    }
}
.ct-icon-4{
    @include icon(18px, 18px, 18px, 10px);
    color: $cl-001;
    font-weight: 400;
    border-radius: 50%;
    @extend %main_bg_color;
    position: absolute;
    top: -7px;
    right: -1px;
}
.ct-icon-5{
    @include icon(80px,80px,80px,26px);
    background: $cl-001;
    border-radius: 50%;
    box-shadow: -1px 2px 6px 0px $cl-008;
    &:hover{
        @extend %main_bg_color;
        color: $cl-001;
        box-shadow: none;
    }
}
.ct-icon-6{
    @include icon(130px,130px,130px,40px);
    @extend %main_bg_color;
    color: $cl-001;
    border-radius: 50%;
    &.style-01{
        background: $color-001;
    }
    &.style-02{
        background: $color-003;
    }
    &.style-03{
        background: $color-002;
    }
}

/*--- badge-icon ---*/

.badge-icon-1{
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $cl-001;
    padding: 0 20px;
    background: $color-002;
    position: absolute;
    top: 30px;
    left: 5px;
    &:before{
        @include before-bottom(0px, 10px, 18px, $color-002, 0);
        left: 100%;
    }
    &:after{
        @include before-left(0, 10px, 10px, $color-002, 100%);
        left: 0;
    }
    span{
        @include before-left(0, 10px, 10px, rgba(0,0,0,.2), 100%);
        left: 0;
        z-index: 9;
    }
    @media screen and (max-width: 1160px){ 
        left: 10px;
        &:after{
            border-right-width: 5px;
        }
        span{
            border-right-width: 5px;
        }
    }
}
.badge-icon-1.style-02{
    background: $color-003;
    &:before{
        border-top-color: $color-003;
    }
    &:after{
        border-right-color: $color-003;
    }
}
.badge-icon-1.style-03{
    @extend %main_bg_color;
    &:before{
        @extend %main_bdt_color;
    }
    &:after{
        @extend %main_bdr_color;
    }
}
.badge-icon-1.style-04{
    background: $color-001;
    &:before{
        border-top-color: $color-001;
    }
    &:after{
        border-right-color: $color-001;
    }
}

/*--- ct-link ---*/

.ct-link-1{
    background: $color-002;
    display: inline-block;
    padding: 5px 15px;
    color: $cl-001;
    &:hover{
        color: $cl-001;
        @extend %main_bg_color;
    }
}

/*--- ct-iframe ---*/

.ct-iframe-1{
    height: 60px;
}
.ct-iframe-2{
    height: 160px;
}
.ct-iframe-3{
    border: none;
    overflow: hidden;
    width: 100%;
    height: 220px;
    text-align: center;
}




/*___________ 1.2.3 Custom Layout ___________*/

.ct-area{
    float: left;
    min-height: 1px;
    position: relative;
}

.ct-area-1{
    width: 1030/1920 * 100%;
    padding: 20px 0 0 130px;
    @media screen and (max-width: 1366px) {
        padding: 20px 0 0 0;
    }
    @media screen and (max-width: 767px) {
        padding: 90px 10px 0;
        width: 100%;
    }
    @media screen and (max-width: 639px) {
        padding: 40px 10px 0;
    }
}

.ct-area-2{
    width: (1920-1030)/1920 * 100%;
    padding: 125px 372px 235px 30px;
    @media screen and (max-width: 1366px) {
        padding: 125px 92px 235px 30px;
    }
    @media screen and (max-width: 1300px) {
        padding: 125px 55px 235px 30px;
    }
    @media screen and (max-width: 1160px) {
        padding: 125px 10px 235px 30px;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        padding:  40px 10px 220px;
    }
    @media screen and (max-width: 639px) {
        padding: 40px 10px 100px;
    }
}


/*------*/

.kopa-area-tg-1{
    position: absolute;
    bottom: -190px;
    left: -50%;
    width: 200%;
    height: 300px;
    @include rotate(-4deg);
    background: $cl-001;
    span{
        display: none;
        position: absolute;
        top: -135%;
        right: -50%;
        width: 100%;
        height: 300px;
        @include rotate(-16deg);
        background: $cl-001;
        &:before{
            content: '';
            position: absolute;
            top: 3px;
            right: -15%;
            width: 100%;
            height: 300px;
            @extend %main_bg_color;
        }
        &:after{
            content: '';
            position: absolute;
            top: -37px;
            right: 63%;
            width: 100%;
            height: 800px;
            background: $cl-001;
            @include transform(rotate(2deg) skew(65deg));
        }
        @media screen and (max-width: 1921px) {
            display: block;
        }
        @media screen and (max-width: 1366px) {
            top: -75%;
            &:after{
                top: -15px;
                right: 47%;
            }
        }
        @media screen and (max-width: 1160px) {
            display: none;
        }
    }
}
.kopa-area-tg-2{
    @extend .kopa-area-tg-1;
    bottom: auto;
    top: -190px;
    span{
        right: auto;
        top: 115%;
        left: -50%;
        &:before{
            right: auto;
            top: -5px;
            left: -15%;
            background: $cl-007;
        }
        &:after{
            top: auto;
            right: auto;
            left: 59%;
            bottom: -33px;
        }
    }
    @media screen and (max-width: 1366px) {
        top: -230px;
        span{
            top: 75%;
            &:after{
                left: 47%;
                bottom: -15px;
            }
        }
    }
}
.kopa-area-tg-3{
    @extend .kopa-area-tg-1;
    bottom: -190px;
    @media screen and (max-width: 1366px) {
        bottom: -230px;
    }
    span{
        &:before{
            background: $cl-007;
        }
    }
}
.kopa-area-tg-4{
    @extend .kopa-area-tg-1;
    bottom: auto;
    top: -190px;
    span{
        right: auto;
        top: 115%;
        left: -50%;
        &:before{
            right: auto;
            top: -5px;
            left: -15%;
        }
        &:after{
            top: auto;
            right: auto;
            left: 59%;
            bottom: -33px;
        }
    }
    @media screen and (max-width: 1366px) {
        top: -230px;
        span{
            top: 75%;
            &:after{
                left: 47%;
                bottom: -15px;
            }
        }
    }
}
.kopa-area-tg-5{
    @extend .kopa-area-tg-1;
    background: $cl-007;
    span{
        background: $cl-007;
        &:after{
            background: $cl-007;
        }
    }
}
.kopa-area-tg-6{
    background: $cl-007;
    @extend .kopa-area-tg-4;
    span{
        background: $cl-007;
        &:after{
            background: $cl-007;
        }
    }
}

/*------*/

.kopa-area {
    @extend %clearfix;
    padding: 110px 0;
    position: relative;
    > .container {
        position: relative;
        z-index: 9; 
        > .row{
            .widget {
                margin-bottom: 110px;
            }
            &:last-child {
                .widget {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .widget {
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 639px){
        padding: 40px 0;
        > .container {
            > .row{
                > div{
                    width: 100%;
                    margin-top: 40px;
                    &:first-child{
                        margin-top: 0;
                    }   
                }
                .widget {
                    margin-bottom: 40px;
                }
                &:last-child {
                    .widget {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .widget {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
} 
.kopa-area-1{
    padding: 190px 0 0;
    background: url("http://placehold.it/1920x1080");
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        display: block;
    }
    > .container {
        > .row{
            .widget {
                margin-bottom: 190px;
            }
        }
    }
}
.kopa-area-2{
    padding: 100px 0 70px;
    > .container {
        > .row{
            .widget {
                margin-bottom: 30px;
            }
        }
    }
}
.kopa-area-3{
    background: $cl-007;
    padding: 220px 0;
    overflow: hidden;
    @media screen and (max-width: 1366px) {
        padding: 180px 0;
    }
    @media screen and (max-width: 639px) {
        padding: 150px 0;
    }
    .ct-icon-2{
        position: absolute;
        top: 80px;
        left: 50%;
        margin-left: -28px;
        @media screen and (max-width: 1366px) {
            top: 44px;
        }
    }
    > .container {
        > .row{
            .widget {
                margin-bottom: 30px;
            }
        }
    }
}
.kopa-area-4{
    background: $cl-001;
    padding: 50px 0;
    @media screen and (max-width: 639px) {
        padding: 20px 0;
    }
}
.kopa-area-5{
    background: url("http://placehold.it/1920x1080");
    padding: 220px 0;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: block;
    }
    @media screen and (max-width: 1366px) {
        padding: 180px 0;
    }
    .ct-icon-2{
        position: absolute;
        bottom: 80px;
        left: 50%;
        margin-left: -28px;
    }
}
.kopa-area-6{
    background: $cl-007;
    padding: 0 0 220px;
    overflow: hidden;
    @media screen and (max-width: 1366px) {
        padding: 0 0 180px;
    }
}
.kopa-area-7{
    padding: 30px 0;
}
.kopa-area-8{
    padding: 330px 0 0;
    background: url("http://placehold.it/1920x1080");
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: block;
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 34px;
        background: $cl-007;
        display: block;
    }
    > .container {
        > .row{
            .widget {
                margin-bottom: 330px;
            }
        }
    }
    @media screen and (max-width: 1160px){ 
        padding: 200px 0 0;
        > .container {
            > .row{
                .widget {
                    margin-bottom: 150px;
                }
            }
        }
    }
    @media screen and (max-width: 479px){ 
        padding: 180px 0 0;
        > .container {
            > .row{
                .widget {
                    margin-bottom: 100px;
                }
            }
        }
    }
}
.kopa-area-9{
    background: $cl-007;
}
.kopa-area-10{
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 110px;
        background: $cl-007;
        display: block;
        z-index: 9;
        @media screen and (max-width: 639px){ 
            height: 40px;
        }
    }
    > .ct-area-1{
        height: 100%;
        &:before{
            content: '';
            position: absolute;
            top: -40%;
            left: -50%;
            width: 150%;
            height: 180%;
            margin-top: -55px;
            margin-left: -40px;
            @extend %main_bg_color;
            border-radius: 50%;
            @media screen and (max-width: 1160px){ 
                top: -20%;
                height: 250%;
            }
            @media screen and (max-width: 767px){ 
                display: none;
            }
        }
    }
    .widget{
        z-index: 99;
    }
}
.kopa-area-11{
    background: $cl-007;
    padding-top: 0;
}
.kopa-area-12{
    padding: 100px 0 70px;
    overflow: hidden;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: -50%;
        right: -38%;
        width: 90%;
        height: 200%;
        @extend %main_bg_color;
        border-radius: 50%;
    }
    @media screen and (max-width: 767px){ 
        padding: 100px 0;
        &:before{
            display: none;
        }
        .ct-row-1{
            > div{
                width: 100%;
                margin-top: 90px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    @media screen and (max-width: 639px){ 
        padding: 40px 0;
    }
}
.kopa-area-13{
    padding: 70px 0;
    background: url("http://placehold.it/1920x1080");
    &:before{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
    }
    > .container {
        > .row{
            .widget {
                margin-bottom: 70px;
            }
        }
    }
}
.kopa-area-14{
    @extend %main_bg_color;
    padding: 70px 0;
    > .container {
        > .row{
            .widget {
                margin-bottom: 70px;
            }
        }
    }
}
.kopa-area-15{
    padding: 50px 0;
    background: url("http://placehold.it/1920x1080");
    > .container {
        > .row{
            .widget {
                margin-bottom: 30px;
            }
        }
    }
}
.kopa-area-16{
    padding: 125px 0 150px;
    background: url("http://placehold.it/1920x1080");
    overflow: hidden;
    &:before{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }
    @media screen and (max-width: 1366px) {
        padding: 125px 0 130px;
        .kopa-area-tg-1{
            bottom: -250px;
        }
    }
    @media screen and (max-width: 639px) {
        padding: 55px 0 90px;
    }
}
.kopa-area-17{
    padding: 70px 0 30px;
}
.kopa-area-18{
    padding: 70px 0 70px;
    @media screen and (max-width: 639px) {
        padding: 10px 0;
    }
}
.kopa-area-19{
    @extend .kopa-area-5;
    @media screen and (max-width: 1366px) {
        padding: 220px 0;
    }
    @media screen and (max-width: 639px) {
        padding: 180px 0;
    }
}
.kopa-area-20{
    padding: 100px 0 60px;
    background: $cl-007;
    overflow: hidden;
    @media screen and (max-width: 639px) {
        padding: 40px 0 0;
    }
}
.kopa-area-21{
    padding: 200px 0 100px;
    background: url("http://placehold.it/1920x1080");
    &:before{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }
    @media screen and (max-width: 639px){ 
        padding: 150px 0 50px;
    }
}
.kopa-area-22{
    @extend .kopa-area-21;
    padding: 80px 0;
    @media screen and (max-width: 639px){ 
        padding: 40px 0;
    }
}
.kopa-area-23{
    padding: 160px 0 60px;
    background: url("http://placehold.it/1920x1080");
    height: 100%;
    &:before{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
    }
    .widget{
        margin-bottom: 160px;
    }
    > .container {
        > .row{
            .widget {
                margin-bottom: 160px;
            }
        }
    }
    @media screen and (max-width: 639px){ 
        padding: 150px 0 50px;
    }
}

.kopa-area-no-space{
    padding: 0;
    overflow: hidden;
    div[class*="kopa-area-tg-"]{
        z-index: 9;
    }
    .kopa-area-tg-4{
        @media screen and (max-width: 1366px) {
            top: -250px;
        }
        @media screen and (max-width: 1160px) {
            top: -220px;
        }
    }
    .kopa-area-tg-1{
        @media screen and (max-width: 1366px) {
            bottom: -250px;
        }
        @media screen and (max-width: 1160px) {
            bottom: -220px;
        }
    }
    @media screen and (max-width: 979px){ 
        div[class*="kopa-area-tg-"]{
            display: none;
        }
    }
}
.kopa-area-parallax {
    position: relative;
    background-position: 50% 0;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.white-text-style {
    color: $cl-001;
    .widget-title, span, p, a, h1, h2, h3, h4, h5, h6, input, textarea {
        color: $cl-001;
    }
    p, span, a{
        color: rgba(255,255,255,.5);
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        a {
            color: $cl-001;
            @include opacity(1);
            &:hover {
                color: $cl-001;
                @include opacity(0.7);
            }
        }
    }
    a:hover{
        @extend %main_color;
        span{
            @extend %main_color;
        }
    }
    .promo-text-2{
        span{
            @extend %main_color;
        }
    }
    .close-btn{
        color: rgba(255, 255, 255, .5);
        &:hover{
            @extend %main_color;
        }
    }
}
.slide-area{   
    @extend .white-text-style;
    a{
        color: rgba(255,255,255, 0.7); 
        &:hover{
            @extend %main_color;
        }
    }
}
.dark-text-style{
    color: $color-secondary;
    .widget-title,
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a {
        color: $color-primary;
    }
    span, p, input, textarea{
        color: $color-secondary;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        a {
            color: $color-primary;
            @include opacity(1);
            &:hover {
                @extend %main_color;
            }
        }
    }
    a:hover{
        @extend %main_color;
        span{
            @extend %main_color;
        }
    }
}


/*___________ 1.2.4 Default Article ___________*/

.entry-item {
    position: relative;
    @extend %clearfix;
    .entry-content {}
}

.entry-title {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.ct-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    @extend %transition;
}
.ct-mask.style-01 {
    background: rgba(255, 255, 255, 0.3);
}
.entry-thumb {
    width: 100%;
    position: relative;
    img {
        width: 100%;
    }
    .ct-mask {
        @include opacity(0);
        @include transition(.5s);
    }
    &:hover {
        .ct-mask {
            @include opacity(1);
        }
    }
}
.ct-icon {
    @extend %fa;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    @include button(40px, 40px, 40px, 14px, $top);
    background: $cl-001;
    left: 50%;
    border-radius: 50%;
    @extend %transition;
    &:hover {
        @extend %main_bg_color;
        color: $cl-001;
    }
    &.style-01{
        background: none;
        color: $cl-001;
    }
}

.entry-item .ct-icon:before {
    content: "\f06e";
}

.portfolio-item .ct-icon:before {
    content: '\f064';
}

.video-post .ct-icon:before {
    content: '\f04b';
    padding-left: 5px;
}

.gallery-post .ct-icon:before {
    content: '\f03e';
}

.image-post .ct-icon:before {
    content: '\f083';
}

.standard-post .ct-icon:before {
    content: "\f040";
}

.audio-post .ct-icon:before {
    content: "\f130";
}

.link-post .ct-icon:before {
    content: "\f0c1";
}

.quote-post .ct-icon:before {
    content: "\f10e";
}


/*--- readmore ---*/

.more-link {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: $cl-009;
    margin-top: 15px;
    position: relative;
    &:hover{
        @extend %main_color;
    }   
    &.style-01{
        font-weight: 400;
        @extend %main_color;
        margin-top: 10px;
    }
}

/*--- meta-data ---*/

.entry-meta {
    @extend %clearfix;
    @extend %list_reset;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    > span,
    > p {
        display: inline-block; 
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        i { 
            margin-right: 10px;
        }
        a{
            color: $color-secondary;
            &:hover{
                @extend %main_color;
            }
        }
        a {
            opacity: 1 !important;
            &.entry-categories {}
        }
    }
    > a {
        display: inline-block;
        margin-top: 5px;
        &:hover {
            span {
                @extend %main_color;
            }
        }
    }
}
.entry-meta.style-01 {
    @extend %clearfix;
    @extend %list_reset;
    margin: 0;
    > span,
    > p {
        display: inline-block; 
        margin: 0 0 13px 60px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 4px;
            left: -30px;
            width: 1px;
            height: 13px;
            background: $color-secondary;
        }
        &:first-child{
            margin-left: 0;
            &:before{
                display: none;
            }
        }
        i { 
            margin-right: 12px;
        }
    }
    @media screen and (max-width: 639px){ 
        margin:0 -20px;
        > span,
        > p {
            margin: 0 20px 13px;
            &:before{
                display: none;
            }
            &:first-child{
                margin-left: 20px;
            }
        }
    }
}



/*--- rating ---*/

.kopa-rating {
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    @extend %list_reset;
    ul {
        @extend %list_format;
        @extend %clearfix;
        margin: 0 -1px !important;
    }
    li {
        font-size: 13px;
        float: left;
        color: $color-003;
        margin: 0 1px !important;
        &.hactive span:before {
            content: "\f123";
        }
        &.inactive span:before {
            content: "\f006";
        }
    }
}

/*--- loadmore ---*/

.kopa-loadmore{
    margin-top: 50px;
}
.loadmore-btn{
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
    background: $cl-005;
    padding: 12px 20px;
    text-align: center;
    width: 100%;
    outline: none !important;
    border: none !important;
    @include transition(.5s);
    cursor: pointer;
    &:hover{
        letter-spacing: 1.5px;
        background: $cl-004;
    }
}


/*___________ 1.2.5 Default Widget ___________*/

.widget {
    @extend %clearfix;
    @extend %list_reset;
    margin-bottom: 90px;
    position: relative;
    > header,
    > .container > header {
        @extend %clearfix;
        margin-bottom: 50px;
        position: relative;
        .widget-title{
            margin-bottom: 25px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .widget-content {
        @extend %clearfix;
        position: relative;
        > article {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
        @media screen and (max-width: 639px){ 
            > ul{
                > li{
                    width: 100% !important;
                }
            }
        }
    }
    @media screen and (max-width: 639px) {
        margin-bottom: 40px;
        > header,
        > .container > header {
            margin-bottom: 30px;
            p {
                font-size: 14px;
                line-height: 22px;
                br{
                    display: none;
                }
            }
        }
    }
} 

/*--- widget-title ---*/

.widget-title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    text-transform: capitalize;
    color: $color-primary;
    margin-bottom: 25px;
    position: relative;
}
.widget-title.style-01 {
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 3px;
        height: 15px;
        @extend %main_bg_color;
    }
}
.widget-title.style-02{
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 35px;
    span{
        color: $color-secondary;
        font-weight: 300;
        position: relative;
        padding-left: 22px;
        &:before {
            content: '';
            width: 2px;
            height: 46px;
            display: inline-block;
            background: $color-secondary;
            position: absolute;
            top: 1px;
            left: 10px;
        }
    }       
}
.widget-title.style-03{
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
}
.widget-title.style-04{
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
    span{
        color: $cl-004;
        font-weight: 300;
        position: relative;
        padding-left: 20px;
        &:before {
            content: '';
            width: 2px;
            height: 40px;
            display: inline-block;
            background: $cl-004;
            position: absolute;
            top: -1px;
            left: 9px;
        }
    }  
}
.widget-title.style-05 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    padding-left: 25px;
    margin-bottom: 20px;
    &:before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 5px;
        height: 34px;
        @extend %main_bg_color;
    }
}
.widget-title.style-06 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    padding: 16px 20px 16px 25px;
    margin-bottom: 30px;
    background: $color-primary;
    color: $cl-001;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        @extend %main_bg_color;
    }
    span{
        font-weight: 600;
    }
}
.widget-title.style-07 {
    @extend .widget-title.style-06;
    padding-right: 82px;
}
.widget-title.style-08 {
    @extend .ct-title-10;
}
.widget-title.style-09 {
    font-weight: 300;
    padding-left: 25px;
    margin-bottom: 25px;
    &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 5px;
        height: 48px;
        @extend %main_bg_color;
    }
}
/*--- widget-sub-title ---*/

.widget-sub-title{
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 2px;
}

/*--- widget-header ---*/

.widget-header.style-01 {
    text-align: center;
}
.widget-header.style-02 {
    padding-left: 23px;
    margin-bottom: 18px;
    .widget-title{
        font-size: 30px;
        line-height: 38px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 10%;
        left: 0;
        width: 3px;
        height: 80%;
        @extend %main_bg_color;
    }
}



/*-- widget default --*/

.widget_categories,
.widget_recent_entries,
.widget_archive,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_rss {
    > ul,
    ul.menu {
        > li {
            position: relative;
            margin-top: 15px;
            text-transform: capitalize;
            @extend %clearfix;
            @extend %transition;
            &:first-child {
                margin-top: 0;
            }
            .sub-menu,
            .children, ul {
                margin-left: 10px;
                li {
                    margin-top: 15px;
                }
            }
            > span {
                display: inline-block;
            }
        }
        a{
            &:before{
                @extend %fa;
                content: '\f105';
                font-size: 16px;
                margin-right: 20px;
            }   
        }
    }
}

.widget_categories,
.widget_archive {
    > ul,
    ul.menu {
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        font-weight: 400;
        > li {
            margin: 0;
            padding: 14px 40px;
            position: relative;
            border-top: 1px solid $cl-006;
            &:first-child{
                border-top: 0;
            }
            &:before{
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                @extend %main_bg_color;
                @extend %transition;
                @include opacity(0);
            }
            &:hover{
                &:before{
                    @include opacity(1);
                }
            }
            .sub-menu,
            .children, ul {
                li {
                }
            }
            a {
                &:before{
                    display: none;
                }
            }
        }
    }
}

.widget_rss {
    .widget-title .rsswidget {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        text-transform: inherit;
        font-weight: inherit;
        float: none;
    }
    > ul {
        > li {
            a {
                @extend %main_color;
            }
        }
    }
}

.textwidget {
    p {
        font-size: 14px;
        strong {
            font-weight: normal;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

.wp-caption {
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

.post-date {
    margin-left: 3px;
    @extend %main_color;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 11px;
}

.wp-playlist {
    margin: 0 !important;
}

/* Tag */

.tagcloud {
    margin: -3px 0 0;
    a {
        padding: 6px 25px;
        margin: 3px 0 0;
        display: inline-block;
        border: 1px solid $cl-004;
        font-size: 15px !important;
        color: $color-primary;
        position: relative;
        &:hover {
            @extend %main_color; 
            @extend %main_bd_color;
        }
    }
}

.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_rss,
.textwidget {
    select {
        font-size: 13px;
        color: $color-primary;
        width: 100%;
        height: 30px;
        padding: 0 20px;
        border: 1px solid $cl-004;
        outline: none;
        position: relative;
    }
}

/* Calendar */

.widget_calendar {
    table {
        line-height: 2;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: -5px;
    }
    caption {
        font-weight: 600;
        border-bottom: 1px solid $cl-004;
        color: $color-primary;
        font-size: 16px;
        padding-bottom: 15px;
        line-height: 18px;
    }
    tfoot {
        border-top: 1px solid $cl-004;
        font-weight: 700;
        td {
            padding-top: 15px;
        }
    }
    thead th {
        width: 14.285%;
        font-size: 16px;
        @extend %main_color;
    }
    tbody td,
    thead th {
        text-align: center;
        text-align: center;
        font-weight: 600;
        border-bottom: 1px solid $cl-004;
        color: $color-primary;
        font-size: 14px;
        margin-bottom: 15px;
        padding-bottom: 12px;
        padding-top: 15px;
        line-height: 18px;
    }
    tbody a {
        @extend %main_color;
        display: block;
    }
    #prev {
        padding-left: 5px;
    }
    #next {
        padding-right: 5px;
        text-align: right;
    }
}

/* Search */

.widget_search {
    .search-box{
        padding: 40px;
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
    }
    .search-form {
        width: 100%;
        position: relative;
        input.search-text {
            height: 38px;
            line-height: 38px;
            padding: 0 20px;
            width: 100%;
            background: $cl-001;
            border: 1px solid $cl-008;
            color: $color-secondary;
        }
        .search-submit {
            @extend %main_bg_color;
            color: $cl-001;
            @extend %main_bg_color;
            height: 38px;
            line-height: 38px;
            padding: 0 38px;
            border-radius: 38px;
            font-weight: 400;
            text-transform: capitalize;
            border: none;
            margin-top: 20px;
            @extend %transition;
            &:hover {
                background: $color-primary;
            }
        }
    }
}

.kopa-flickr-widget {
    .flickr-wrap {
        margin: -10px -5px 0;
        li {
            float: left;
            width: 1 / 3 * 100%;
            padding: 10px 5px 0;
            a {
                display: block;
                width: 100%;
                height: 77px;
            }
        }
    }
}

/*___________ 1.2.6 Elements ___________*/



/*--- collapse ---*/

.panel-group {
    margin-bottom: 0px;
    .panel + .panel {}
    .panel {
        background: none;
        border-radius: 0;
        box-shadow: none;
        border: none;
        margin: 0 0 10px 0 !important;
        .panel-heading {
            position: relative;
            padding: 0;
            background: none;
            @include transition(0.3s);
            > .panel-title a {
                @include text_format($font-primary, 16px, 24px, 400);
                text-transform: none;
                display: block;
                padding: 13px 60px 13px 25px;
                background: $cl-014;
                border: 1px solid $cl-015;
                border-top: none;
                border-bottom-color: $cl-006;
                .btn-title {
                    @include button(10px, 10px, 10px, 14px, 20px);
                    display: block;
                    cursor: pointer;
                    margin: 0;
                    right: 25px;
                    @include transition(0.3s); 
                    &:before,
                    &:after {
                        content: "";
                        width: 8px;
                        height: 2px;
                        background: $cl-016;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -4px;
                        margin-top: -1px;
                        border-radius: 50%;
                        @include transition(0.3s);
                    }
                    &:after {
                        width: 2px;
                        height: 8px;
                        margin-left: -1px;
                        margin-top: -4px;
                    }
                }
            }
            &.active,
            &:hover {
                > .panel-title a {
                }
            }
            &.active {
                > .panel-title a {
                    .btn-title {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .panel-body {
            padding: 35px 40px;
            border: 1px solid $cl-005;
            border-bottom-color: $cl-006;
            border-top: 0 !important;
            background: $cl-001;
        }
    }
}

.panel-group.style-01 {
    .panel {
        margin: 0 0 20px 0 !important;
        .panel-heading {
            > .panel-title a {
                        font-size: 18px;
                font-weight: 300;
                padding: 13px 60px;
                border: none;
                background: $color-primary;
                color: $cl-001;
                &:before{
                    @extend %fa;
                    content: '\f0c9';
                    font-size: 14px;
                    position: absolute;
                    top: 18px;
                    left: 30px;
                    @extend %main_color;
                    @extend %transition;
                }
                &:after{
                    @extend %fa;
                    content: '\f107';
                    font-size: 14px;
                    position: absolute;
                    top: 18px;
                    right: 30px;
                }
                .btn-title {
                    display: none;
                }
            }
            &.active,
            &:hover {
                > .panel-title a {
                    @extend %main_bg_color;
                    &:before{
                        color: $cl-001;
                    }
                }
            }
            &.active {
                > .panel-title a {
                    &:after{
                        content: '\f106';
                    }
                }
            }
        }
        .panel-body {
            padding: 25px 30px 5px;
            border: none;
        }
    }
}

/*--- blockquote ---*/

.ct-blockquote-1{
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    color: $color-002;
    padding-left: 30px;
    margin-bottom: 20px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        width: 3px;
        height: 80%;
        background: $color-002;
    }
    p{
        margin-top: 10px;
        @extend %text_format;
        font-style: italic;
        color: $color-secondary;
    }
}
.ct-blockquote-2{
    @extend .ct-blockquote-1;
    padding: 15px 0 15px 30px;
    &:before{
        top: 0;
        height: 100%;
    }
}

/*--- pricing table ---*/

.pt-column {
    @extend %list_reset;
    text-align: center;
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    text-transform: capitalize;
    @extend %transition;
    .pt-header {
        .pt-title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 0;
            padding: 18px 20px;
            @extend %main_bg_color;
            color: $cl-001;
        }
        .pt-price {
            background: $cl-014;
            padding: 45px 20px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
            h4 {
                font-size: 80px;
                line-height: 60px;
                font-weight: 800;
                margin-bottom: 0;
                span{
                    font-size: 40px;
                }
            }
        }
        .pt-tg {
            position: absolute;
            right: 2px;
            top: 82px;
            &:before {
                @include before-bottom(80px, 0px, 80px, $cl-001, 0);
            }
            span {
                font-size: 15px;
                font-weight: 500;
                font-family: $font-primary;
                color: $color-hover;
                text-transform: uppercase;
                position: absolute;
                left: -45px;
                top: -65px;
                @include rotate(45deg);
            }
        }
    }
    .pt-content {
        background: $cl-001;
        border-top: 1px solid $cl-006;
        padding: 45px 20px;
        > ul {
            > li {
                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-top: 45px;
                }
            }
        }
    }
    &:hover{
        box-shadow: -1px 0px 22px 2px $cl-006;
    }
    &.style-01{
        .pt-header {
            .pt-title {
                background: $color-002;
            }
        }
        .kopa-btn-14{
            background: $color-002;
            &:hover{
                background: $color-primary;
            }
        }
    }
    &.style-02{
        .pt-header {
            .pt-title {
                background: $color-003;
            }
        }
        .kopa-btn-14{
            background: $color-003;
            &:hover{
                background: $color-primary;
            }
        }
    }
}


/*--- alert ---*/

.alert{
    font-size: 16px;
    line-height: 24px;
    color: #777;
    text-transform: capitalize;
    padding: 8px 30px 8px 16px;
    border: none;
    border-radius: 0;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #777;
        @include opacity(.3);
    }
    .close{
        float: none;
        font-size: 9px;
        color: #777;
        text-shadow: none;
        @include opacity(1);
        width: 16px;
        height: 16px;
        border: 1px solid #777;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        right: 15px;
        z-index: 9;
    }
    > div{
        position: relative;
    }
}

.ct-alert-1.style-02{
    color: #86c26d;
    &:before{
        border-color: #86c26d;
    }
    .close{
        color: #86c26d;
        border-color: #86c26d;
    }
}
.ct-alert-1.style-03{
    color: #ff391f;
    &:before{
        border-color: #ff391f;
    }
    .close{
        color: #ff391f;
        border-color: #ff391f;
    }
}
.ct-alert-1.style-04{
    color: #52cbf9;
    &:before{
        border-color: #52cbf9;
    }
    .close{
        color: #52cbf9;
        border-color: #52cbf9;
    }
}
.ct-alert-1.style-05{
    color: #e99b00;
    &:before{
        border-color: #e99b00;
    }
    .close{
        color: #e99b00;
        border-color: #e99b00;
    }
}
.ct-alert-1.style-06{
    color: #af75b3;
    &:before{
        border-color: #af75b3;
    }
    .close{
        color: #af75b3;
        border-color: #af75b3;
    }
}


.ct-icon-7{
    @include icon(60px, 60px, 50px, 24px);
    font-weight: 700;
    color: #8a6d3b;
    border: 5px solid #8a6d3b;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
}
.ct-alert-2{
    text-transform: none;
    color: $color-primary;
    padding: 30px;
    &:before{
        border: none;
        background: #fed37d;
        @include opacity(1);
    }
    .close{
        font-size: 14px;
        border: none;
        color: #8a6d3b;
        top: 26px;
        right: 30px;
    }
    .alert-content{
        padding-left: 85px;
        min-height: 70px;
        position: relative;
        @media screen and (max-width: 479px){ 
            padding: 95px 0 0;
        }
        .ct-icon-7{
            position: absolute;
            top: 8px;
            left: 0;
        }
        h6 {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 8px;
            padding-right: 15px;
            @media screen and (max-width: 479px){ 
                padding: 0;
            }
        }
    }
}
.ct-alert-2.style-02{
    &:before{
        background: #64fda6;
    }
    .close{
        color: #3c7655;
    }
    .ct-icon-7{
        color: #3c7655;
        border-color: #3c7655;
    }
}
.ct-alert-2.style-03{
    &:before{
        background: #fe9482;
    }
    .close{
        color: #d52e13;
    }
    .ct-icon-7{
        color: #d52e13;
        border-color: #d52e13;
    }
}
.ct-alert-2.style-04{
    &:before{
        background: #a6bdfe;
    }
    .close{
        color: #4766c0;
    }
    .ct-icon-7{
        color: #4766c0;
        border-color: #4766c0;
    }
}
.ct-alert-2.style-05{
    &:before{
        background: #f8a3fd;
    }
    .close{
        color: #751c7b;
    }
    .ct-icon-7{
        color: #751c7b;
        border-color: #751c7b;
    }
}

/*--- buttons ---*/

.ct-btn-1{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 18px 60px;
    text-transform: capitalize;
    @extend %main_bg_color;
    color: $cl-001;
    &:hover{
        color: $cl-001;
        background: $color-primary;
    }
}

.ct-btn-1.style-02{
    background: $color-primary;
    &:hover{
        @extend %main_bg_color;
    }
}
.ct-btn-1.style-03{
    padding: 13px 50px;
    background: none;
    border-style: solid;
    border-width: 2px;
    @extend %main_color;
    @extend %main_bd_color;
    &:hover{
        border-color: $color-primary;
        color: $color-primary;
    }
}
.ct-btn-1.style-04{
    padding: 13px 50px;
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: $color-primary;
    color: $color-primary;
    &:hover{
        @extend %main_color;
        @extend %main_bd_color;
    }
}

.ct-btn-1.style-05{
    padding: 9px 40px;
    font-size: 14px;
    line-height: 22px;
}
.ct-btn-1.style-06{
    @extend .ct-btn-1.style-02;
    @extend .ct-btn-1.style-05;
}
.ct-btn-1.style-07{
    @extend .ct-btn-1.style-03;
    @extend .ct-btn-1.style-05;
    padding: 7px 40px;
}
.ct-btn-1.style-08{
    @extend .ct-btn-1.style-04;
    @extend .ct-btn-1.style-05;
    padding: 7px 40px;
}

.ct-btn-2{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 50px;
    text-transform: uppercase;
    @extend %main_bg_color;
    color: $cl-001;
    border-radius: 50px;
    &:hover{
        color: $cl-001;
        background: $color-primary;
    }
}
.ct-btn-2.style-02{
    padding: 11px 48px;
    background: none;
    border-style: solid;
    border-width: 2px;
    @extend %main_color;
    @extend %main_bd_color;
    &:hover{
        border-color: $color-primary;
        color: $color-primary;
    }
}
.ct-btn-2.style-03{
    background: $color-primary;
    &:hover{
        @extend %main_bg_color;
    }
}
.ct-btn-2.style-04{
    padding: 11px 48px;
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: $color-primary;
    color: $color-primary;
    &:hover{
        @extend %main_color;
        @extend %main_bd_color;
    }
}
.ct-btn-2.style-05{
    border-radius: 5px;
}
.ct-btn-2.style-06{
    @extend .ct-btn-2.style-02;
    @extend .ct-btn-2.style-05;
}
.ct-btn-2.style-07{
    @extend .ct-btn-2.style-03;
    @extend .ct-btn-2.style-05;
}
.ct-btn-2.style-08{
    @extend .ct-btn-2.style-04;
    @extend .ct-btn-2.style-05;
}

.ct-btn-3{
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 14px 50px;
    text-transform: uppercase;
    @extend %main_bg_color;
    color: $cl-001;
    &:hover{
        color: $cl-001;
        background: $color-primary !important;
    }
}
.ct-btn-3.style-02{
    background: #4bce79;
}
.ct-btn-3.style-03{
    background: #aa71d0;
}
.ct-btn-3.style-04{
    background: #959595;
}
.ct-btn-3.style-05{
    background: #f67027;
}
.ct-btn-3.style-06{
    background: #ffb400;
}
.ct-btn-3.style-07{
    background: #42bab0;
}
.ct-btn-3.style-08{
    background: #db6976;
}


/*--- countdown ---*/

.ct-chart-1{
    display: inline-block;
    text-align: center;
    @extend %main_color;
    position: relative;
    span, p {
        position: absolute;
        left: 0;
        width: 100%;
    }
    p{
        font-size: 48px;
        font-weight: 900;
        top: 50px;
    }
    span{
        font-weight: 400;
        top: 85px;
    }
}
.ct-countdown-1{
    margin: -30px -15px 0;
    > * {
        margin: 30px 0 0;
        padding: 0 15px;
    }
}

.ct-countdown-2{
    @extend %main_bg_color;
    position: relative;
    padding: 30px;
    text-align: center;
    > ul{
        position: relative;
        margin: -30px -5px 0;
        li{
            display: inline-block;
            padding: 0 5px;
            margin-top: 30px;
            h5{
                color: $cl-001;
                text-transform: uppercase;
            }
            > div{
                min-width: 125px;
                background: $cl-001;
                @extend %main_color;
                padding: 20px;
                position: relative;
                > span{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    margin-top: -0.5px;
                    @extend %main_bg_color;
                    &:before, &:after{
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: 0;
                        width: 3px;
                        height: 21px;
                        @extend %main_bg_color;
                    }
                    &:after{
                        left: auto;
                        right: 0;
                    }
                }
                p{
                    font-size: 60px;
                    line-height: 1em;
                    font-weight: 700;
                }
            }
        }
    }
}
.ct-countdown-3{
    @extend .ct-countdown-2;
    background: url('http://placehold.it/1110x400');
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    > ul{
        li{
            > div{
                color: $color-002;
                > span{
                    background: $color-002;
                    &:before, &:after{
                        background: $color-002;
                    }
                }
            }
        }
    }
}

.ct-countdown-4{
    padding: 45px 0;
    background: rgba(255,255,255, 0.02); 
    ul{
        position: relative;
        margin: -30px -25px 0;
        li{
            display: inline-block;
            padding: 0 25px;
            margin-top: 30px;
            > div{
                @include icon(155px, 155px, 155px, 60px);
                padding: 10px;
                position: relative;
                &:before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255, 0.04);
                    border-radius: 50%;
                }
                > p{
                    @include icon(135px, 135px, 135px, 60px);
                    color: $cl-001;
                    border-radius: 50%;
                    @extend %main_bg_color;
                    position: relative;
                    display: block;
                }
            }
            h5{
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                margin: 12px 0 0;
            }
            &:nth-child(2n){
                > div{
                    > p{
                        background: $color-001;
                    }
                }
            }
            &:nth-child(3n){
                > div{
                    > p{
                        background: $color-003;
                    }
                }
            }
            &:nth-child(4n){
                > div{
                    > p{
                        background: $color-002;
                    }
                }
            }
        }
    }
}


/*--- dropcaps ---*/

.ct-dropcap-1 {
    color: $cl-001;
    @extend %main_bg_color;
    display: inline-block;
    zoom: 1;
    float: left;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 7px 20px 0 0;
    text-align: center;
    padding: 6px 20px;
}
.ct-dropcap-2 {
    @extend .ct-dropcap-1;
    background: $color-primary;
}
.ct-dropcap-3 {
    @extend .ct-dropcap-1;
    background: $color-002;
}
.ct-dropcap-4 {
    @extend .ct-dropcap-1;
    background: none;
    color: $color-primary;
    box-shadow: -1px 0px 5px 2px $cl-006;
}
.ct-dropcap-5 {
    @extend .ct-dropcap-1;
    border-radius: 50%;
    padding: 6px 17.5px;
}
.ct-dropcap-6 {
    @extend .ct-dropcap-4;
    @extend .ct-dropcap-5;
}
.ct-dropcap-7 {
    @extend .ct-dropcap-1;
    background: none;
    color: $color-primary;
}
.ct-dropcap-8 {
    display: inline-block;
    zoom: 1;
    float: left;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 7px 20px 0 0;
    text-align: center;
    padding: 6px 20px;
    @extend %main_color;
}