

/*--- hamburger-menu ---*/


.hb-menu-icon {
    position:absolute;
    height:100%;
    width:100%;
    span {
        display: block;
        width:100%;
        height:2px;
        background: $color-primary;
        position:relative;
        margin:3px 0 0;
        @include transition(.3s ease-in-out);
    }
}
.hamburger-menu {
    width:22px;
    height:12px;
    position:relative;
    cursor:pointer;
    span{
        @extend %transition;
        &:hover{
            @extend %main_color;
        }
    }
}

/*--- main-menu ---*/

.main-nav{
    @extend %clearfix;
    display: inline-block;
    .hamburger-menu{
        display: none;
        height: 22px;
        width: 15px;
        font-size: 16px;
        text-transform: capitalize;
        color: $cl-001;
        margin: 12px 0;
        span{
            &:hover{
                color: $cl-001;
            }
        }
    }
    @media screen and (max-width: 1160px) {
        display: none;
        &.style-01{
            display: block;
            margin-bottom: 0 !important;
            .main-menu{
                display: none;
            }
        }
        .hamburger-menu{
            display: block;
        }
    }
}

.main-menu{
    @extend %clearfix;
    position: initial;
    text-align: left;
    border: none;
    margin: 0;
    .sf-with-ul {
        &:after{
            display: none;
        }
    }
    > li {
        list-style: none;  
        padding: 0;     
        margin: 0 18px;  
        background: none !important;
        z-index: 999;
        float: left;
        position: initial;
        white-space: normal; 
        @include transition(.5s);
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        > a {
            @include text_format($font-primary, 14px, 20px, 400); 
            color: $color-secondary;
            text-transform: capitalize;
            padding: 40px 0 34px !important;
            margin: 0;  
            border:none;
            position: relative;
            &:before, &:after {
                @extend %main_bg_color;
                height: 3px;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 50%;
                bottom: auto;
                left: 50%;
                content: '';
                @include opacity(0);
                @extend %transition;
            }
            &:after{
                display: block !important;
            }
        }
        &:hover, &.current-menu-item, &.current-menu-parent  {
            > a{
                @extend %main_color;
                &:before{
                    left: 0;
                    @include opacity(1);
                }
                &:after{
                    @include opacity(1);
                    right: 0 !important;
                }
            }
        } 
        ul.sub-menu, ul{
            width: 230px;
            padding: 26px 0;
            display: none;
            position: absolute;
            top: 80px;
            left: auto;
            background: $cl-001;
            box-shadow: -1px 0px 22px 2px $cl-006;
            z-index: 9999 !important;
            border: none;
            li {
                background: none;
                position: relative;
                white-space: normal;
                @extend %transition;
                padding: 0;
                margin-top: 12px;
                &:first-child{ 
                    margin-top: 0;
                }
                a{
                    padding: 4px 30px;     
                    margin: 0;   
                    border:none;
                    color: $color-secondary;
                    text-transform: capitalize;
                    width: 100%;
                    &:hover{
                        background: $cl-005;
                    }
                    &.sf-with-ul{
                        &:after{
                            @extend %fa;
                            content: '\f0da';
                            display: block;
                            border: none;
                            margin: 0;
                            position: absolute;
                            top: 8px;
                            right: 25px;
                            left: auto;
                        }
                    }
                }
                &.current-menu-item{
                    > a{
                        @extend %main_color;
                    }
                }
            }
            ul {
                top: 0;
                left: 230px;
            }
        }
    }
}
.main-menu.style-01{
    > li {  
        margin: 0;  
        > a {
            color: rgba(255,255,255,.9);
            text-transform: uppercase;
            padding: 20px 25px !important;
            &:before {
                background: $cl-001;
                width: 100%;
                top: 0;
                left: 0;
                right: auto;
                height: 0; 
            }
            &:after{
                display: none !important;
            }
        }
        &:hover, &.current-menu-item, &.current-menu-parent  {
            > a{
                background: rgba(0,0,0,.06);
                color: $cl-001;
                &:before {
                    height: 3px;
                }
            }
        } 
        ul.sub-menu, ul, .sf-mega{
            top: 65px;
            ul{
                top: 0;
            }
        }
    }
}
.top-nav{  
    @media screen and (max-width: 639px){
        display: none; 
    }
}
.top-menu{
    @extend .main-menu;
    > li {  
        margin: 0 0 0 25px;  
        &:before{
            content: '|';
            margin-right: 25px;
        }
        &:first-child{
            margin-left: 0;
            &:before{
                display: none;
            }
        }
        > a {
            font-size: 12px;
            padding: 0 !important;
            display: inline-block;
            &:before, &:after {
                display: none !important;
            }
        }
    }
}
.sf-mega{
    @extend %clearfix;
    border: none;
    position: absolute;
    top: 80px; 
    padding: 50px;
    background: $cl-001;
    border: 1px solid $cl-006;
    box-shadow: -1px 0px 22px 2px $cl-006;
    z-index: 99999;
    margin-left: 0; 
    left: 0;
    .row{
        position: relative;
        z-index: 9;
        width: auto !important;
        margin: 0 -15px;
        ul{
            li{
                a{
                    padding: 0 !important;
                }
            }
        }
    }
    .sf-mega-section{
        margin: 0;
        @extend %clearfix;
        padding: 0 18px;
        ul, ul.sub-menu{
            @extend %clearfix;
            display: block;
            background: none;
            border: none;
            box-shadow: none;
            width: 100%;
            position: inherit;
            top:auto;
            left: auto;
            margin: 0;
            padding: 0;
            a{
                &:hover{
                    background: none !important;
                    @extend %main_color;
                }
            }
            li {
                &.current-menu-item{
                    > a{
                        background: none !important;
                        @extend %main_color;
                    }
                }
            }
        }
    }
    .widget{
        margin-top: 40px;
        margin-bottom: 0;
        &:first-child{
            margin-top: 0;
        }
    }
}
.sf-mega-1{
    background: url("http://placehold.it/267x297") $cl-001 right bottom no-repeat;
}

/*--- search-box-1 ---*/

.kopa-search-box-1 {
    position: relative;
    line-height: 13px;
    > span{
        font-weight: 700;
        cursor: pointer;
        @extend %transition;
        &:hover{
            @extend %main_color;
        }
    }
    .search-form-1 {
        width: 190px;
        position: absolute;
        top: 36px;
        right: 0;
        height: 0;
        overflow: hidden;
        &.active{
            overflow: visible;
            .search-text {
                @include opacity(1);
            }
        }
        .search-text {
            width: 100%;
            border: none;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            color: $cl-004;
            text-transform: capitalize;
            background: $cl-001; 
            outline: none;
            border: 1px solid $cl-006;
            box-shadow: -1px 0px 22px 2px $cl-006 !important;
            @include opacity(0);
            @extend %transition;
        }
        .search-submit {
            position: absolute;
            right: 15px;
            top: 6px;
            border: none;
            background: none;
            font-size: 18px;
            padding: 0;
            color: $cl-007;
            outline: none;
            @extend %transition;
            &:hover {
                @extend %main_color;
            }
        }
    }
}

/*--- short navigation ---*/

.short-nav{
    position: relative;
    .kopa-dropdown-content{
        position: absolute;
        top: 36px;
        right: 0;
        overflow: hidden;
        height: 0;
        @include opacity(0);
        @extend %list_reset;
        @extend %transition;
        &.active{
            height: auto;
            overflow: visible;
            @include opacity(1);
        }
        ul{
            @extend %list_format;
            width: 190px;
            padding: 30px;
            background: $cl-001;
            border: 1px solid $cl-006;
            box-shadow: -1px 0px 22px 2px $cl-006;
            @include transition(.5s ease-in-out);
            li{
                margin-top: 15px;
            }
        }
        i{
            display: inline-block;
            width: 20px;
            margin-right: 16px;
        }
    }
}

/*--- kopa-cart ---*/

.cart-product-list{
    padding: 40px;
    @extend %list_reset;
    > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
        }
    }
    .product-item{
        position: relative;
        padding-right: 20px;
        @extend %clearfix;
        .entry-thumb{
            width: 80px;
            float: left;
            margin-right: 30px;
        }
        .entry-content{
            overflow: hidden;
            padding-top: 15px;
            span{
                display: inline-block;
            }
        }
        .entry-title{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        .product-num{
            padding: 2px 9px;
            color: $color-primary;
            background: $cl-005;
            border-radius: 2px;
        }
        .product-price{
            font-size: 18px;
            @extend %main_color;
            margin-left: 8px;
        }
        .cart-remove{
            color: $cl-004;
            position: absolute;
            top: 38px;
            right: 0;
            cursor: pointer;
            @extend %transition;
            &:hover{
                color: $color-primary;
            }
        }
    }
}
.kopa-cart{
    position: relative;
    .kopa-dropdown-btn{
        font-size: 20px;
        @extend %main_color;
        cursor: pointer;
    }
    .kopa-dropdown-content{
        position: absolute;
        top: 42px;
        right: 0;
        overflow: hidden;
        width: 370px;
        background: $cl-001;
        border: 1px solid $cl-006;
        box-shadow: -1px 0px 22px 2px $cl-006;
        @include opacity(0);
        height: 0;
        overflow: hidden;
        @extend %transition;
        &.active{
            height: auto;
            overflow: visible;
            @include opacity(1);
        }
        .cart-product-bottom{
            padding: 30px 40px;
            border-top: 1px solid $cl-005;
            @extend %clearfix;
            h6{
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                @extend %main_color;
                margin: -5px 0 0px;
            }
            span{
                font-size: 12px;
                line-height: 20px;
                color: $cl-004;
            }
        }
    }
}

/*--- close-btn ---*/

.close-btn{
    position: absolute;
    top: 42px;
    right: -30px;
    cursor: pointer;
    z-index: 9;
    @extend %transition;
    color: rgba(255, 255, 255, .5);
    &:hover{
        @extend %main_color;
    }
}

/*--- slide-menu ---*/

.slide-nav {
    position: relative;
    @extend %list_reset;
    @extend %clearfix;
    @media screen and (max-width: 1160px) {
        display: none;
    }
}
.slide-menu {
    @extend %clearfix;
    text-align: left;
    @extend %list_format;
    padding-left: 15px !important;
    margin-top: -15px !important;
    li {
        position: relative;
        width: 100%;
        margin-top: 15px !important;
        a {
            display: block;
            color: rgba(255,255,255,.5);
            font-family: $font-primary;
            text-transform: capitalize;
            display: block;
            position: relative;
            &:before{
                content: '-';
                margin-right: 7px;
            }
            &:hover{
                @extend %main_color;
                span{
                    color: rgba(255,255,255,.5);
                    &:hover{
                        @extend %main_color;
                    }
                }
            }
            > span {
                position: absolute;
                right: 0;
                top: -2px;
                cursor: pointer;
                font-size: 12px;
                color: rgba(255,255,255,.5);
                @extend %transition;
                &:after {
                    @extend %fa;
                    content: '\f0d7';
                }
                &:hover{
                    @extend %main_color;
                    @extend %main_bd_color;
                }
            }
        }
        &.open{
            > a{
                > span {
                    &:after {
                        content: '\f0d8';
                    }
                }
            }
        }
        &.current-menu-item{
            > a{
                @extend %main_color;
            }
        }
        ul, ul.sub-menu {
            padding-left: 11px;
            li {
                a {
                    &:hover{
                        @extend %main_color;
                    }
                }
                span {
                    display: none;
                }
                ul, ul.sub-menu {
                    display: block !important;
                    padding: 0 !important;
                    height: auto !important;
                }
                &.current-menu-item  {
                    > a{
                        @extend %main_color;
                    }
                }
            }
            ul{
                li{
                    a{
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.slide-area{
    position: fixed;
    left: 0;
    top: 0;
    width: 360px;
    padding: 0;
    background: url("http://placehold.it/360x1000");
    background-size: cover;
    @include translateX(-100%);
    @include transition(.1s ease-in-out);
    z-index: -999;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.95);
    }
    @media screen and (max-width: 479px) {
        width: 100%;
        .close-btn {
            right: 20px;
            top: 20px;
        }
    }
    &.active{
        z-index: 999999999;
        @include translateX(0);
        @include transition(.4s ease-in-out);
    }
    .slide-container{
        z-index: 9;
    }
    .mCSB_container{
        > *{
            padding: 0 40px;
            margin-top: 50px;
            &:first-child{
                margin-top: 95px;
            }
        }
    }
    .mCSB_scrollTools{
        opacity: 0 !important;
        right: auto;
        left: 0;
        @media screen and (max-width: 1160px) {
            opacity: 1 !important;
        }
        .mCSB_dragger{
            .mCSB_dragger_bar{
                background: rgba(255,255,255,0.3);
            }
        }
    }
    .kopa-social-links{
        margin: 50px -40px 100px;
    }
}

/*--- mobile-menu ---*/

.mobile-nav{
    @extend %clearfix;
    @extend .slide-nav;
    display: none;
    @media screen and (max-width: 1160px) {
        display: block;
    }
}
.mobile-menu{
    @extend .slide-menu;
}


header[class*="kopa-page-header-"]{
    position: relative;
    z-index: 999;
}

/*_____________ kopa-page-header-1 _____________*/

.kopa-page-header-1{
    @extend %clearfix;
    border-bottom: 1px solid $cl-006;
    text-align: center;
    position: relative;
    z-index: 999;
    @media screen and (max-width: 1160px){ 
        padding-bottom: 35px;
    }
    .container{
        > .row {
            > div{
                position: initial;
                &.text-left{
                    margin-top: 35px;
                }
                &.text-right{
                    float: right;
                    > div{
                        float: right;
                        text-align: left;
                    }
                }
                > div{
                    float: left;
                }
            }
            @media screen and (max-width: 1160px){ 
                > div{
                    &.col-md-2{
                        width: 50%;
                    }
                    &.col-md-8{
                        display: none;
                    }
                }
            }
            @media screen and (max-width: 479px){ 
                > div{
                    &.col-md-2{
                        width: auto;
                    }
                }
            }

        }
    }
    .hamburger-menu{
        margin: 6px 20px 0 0;
    }
    .kopa-search-box-1{
        margin-top: 43px;
    }
    .short-nav{
        margin: 43px 0 0 22px;
    }
    .kopa-cart{
        margin: 37px 0 0 22px;
    }
}

/*_____________ kopa-page-header-2 _____________*/

.kopa-page-header-2{
    @extend .kopa-page-header-1;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    .hamburger-menu {
        color: rgba(255,255,255,.6);
    }
    .main-menu{
        > li {
            > a {
                color: rgba(255,255,255,.6);
            }
            &:hover, &.current-menu-item, &.current-menu-parent  {
                > a{
                    @extend %main_color;
                }
            } 
        }
    }
    .kopa-search-box-1 > span{
        color: rgba(255,255,255,.6);
        &:hover{
            @extend %main_color;
        }
    }
    .kopa-btn-1 span{
        background: rgba(255,255,255,.6);
        &:before, &:after{
            background: rgba(255,255,255,.6);
        }
        &:hover{
            @extend %main_bg_color;
            &:before, &:after{
                @extend %main_bg_color;
            }
        }
    }
}

/*_____________ kopa-page-header-3 _____________*/

.kopa-header-top{
    background: $cl-001;
    padding: 14px 0;
    .kopa-social-links.style-03{
        margin-top: 4px;
    }
}
.kopa-header-bottom.style-01{
    @extend .kopa-page-header-2;
    position: relative !important;
    top: auto;
    left: auto;
    border: none;
    background: $color-primary;
    .hamburger-menu{
        display: none;
        @media screen and (max-width: 1160px) {
            display: block;
        }
    }
}

/*_____________ kopa-page-header-4 _____________*/

.kopa-header-top{
    &.style-01{
        text-align: center;
        padding: 35px 0;
        .container{
            > .row {
                > div{
                    position: initial;
                    &.text-right{
                        float: right;
                        > div{
                            float: right;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .kopa-social-links.style-03{
            margin-top: 7px;
        }
        .kopa-search-box-1{
            margin-top: 9px;
        }
        .short-nav{
            margin: 9px 0 0 22px;
        }
        .kopa-cart{
            margin: 4px 0 0 22px;
        }
    }
}
.kopa-header-bottom{
    position: relative;
    text-align: center;
    &.style-02{
        @extend %main_bg_color;
        .main-nav{
            margin-bottom: -6px;
        }
    }
}

.kopa-page-header-4{
    @media screen and (max-width: 1023px){ 
        .kopa-header-top{
            .container{
                > .row{
                    > div{
                        &:first-child{
                            display: none;
                        }
                        &.col-md-8{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}