/* woocommerce plugin */

.single-product{
    .kopa-product-list{
        text-align: left;
    }
}
.woocommerce, .woocommerce-page{
    .woocommerce-result-count, .woocommerce-ordering{
        margin: 0 0 20px;
        float: left;
        select{
            padding: 3px 10px 2px;
            border: 1px solid #e9e9e9;
            box-shadow: none;
            border-radius: 0;
            outline: none;
        }
    }
    .woocommerce-result-count{
        @include text_format($font-primary, 14px, 22px, 300);
        color: $color-primary;
        margin: 3px 0 0px;
    }
    .entry-summary{
        margin: 50px 0 0;
        padding-right: 40px;
        @media screen and (max-width: 639px){ 
            width: 100% !important;
            float: none !important;
            margin-top: 40px;
            padding: 0 5px;
        }
        div[class*="add-to-wishlist"]{
            i{
                font-size: 20px;
                color: $color-002;
                &:before{
                    @extend %fa;
                    content: '\f004';
                }
            }
            span{
                display: none;
            }
        }
    }
    ul.products{
        @extend %clearfix;
        margin: 0 -10px;
        height: auto !important;
        > li, li.product{
            padding: 0 10px;
            margin:0 0 20px;
            .onsale {
                top: 20px;
                right: 30px;
                margin: 0;
                width: 40px;
                height: 40px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 50%;
                @extend %main_bg_color;
                padding: 0;
                min-width: 40px;
                line-height: 40px;
                border: none;
            }
            a{
                img{
                    box-shadow: none;
                    margin: 0;
                }
                &:hover{
                    img{
                        box-shadow: none;
                    } 
                }
            }
            h3 {
                font-size: 16px;
                line-height: 24px; 
                font-weight: 600;
                padding: 12px 20px 8px;
                text-transform: none;
                border-top: 1px solid #e5e5e5;
                @extend %transition;
            }
            .star-rating {
                margin: 0 20px 15px;
                width: 80%;
                &:before{ 
                    @extend %main_color;
                }
                span:before{ 
                    @extend %main_color;
                }
            }
            .price {
                @extend %main_color;
                font-family: $font-primary;
                font-weight: 600;
                font-size: 30px;
                line-height: 38px;
                padding: 12px 20px;  
                border-top: 1px solid #e5e5e5;
                border-bottom: 0;
                margin-bottom: 0;
                ins {
                    text-decoration: none;
                }
                del { 
                    font-size: 20px;
                    margin-right: 10px;
                    color: $color-secondary;
                    float: left;
                    margin-top: 2px;
                }
            }
            .button{
                font-family: $font-primary;
                font-size: 13px;
                line-height: 22px;
                color: $color-primary;
                background: #e9e9e9;
                border: 1px solid #e5e5e5;
                border-top: none;
                width: 100%;
                height: 38px;
                line-height: 38px;
                text-transform: uppercase;
                font-weight: 600;
                &:hover{
                    @extend %main_bg_color;
                    color: $cl-001;
                    &:before{
                        color: $cl-001;
                    }
                }
                &.add-to-cart{
                    &:before{
                        @extend %fa;
                        content: '\f07a';
                        font-size: 16px;
                        margin-right: 10px;
                        color: $color-primary;;
                        @extend %transition;
                    }
                    &:hover{
                        &:before{
                            color: $cl-001;
                        }
                    }
                }
            }
            &:hover{
                h3{
                    @extend %main_color;
                }
            }
        }
        @media screen and (max-width: 479px){
            > li, li.product{
                width: 100%;
            }
        }
    }
    .woocommerce-product-rating{
        font-size: 12px;
        line-height: 20px;
    }
    .star-rating {
        margin: 3px 15px 0 0;
        float: left;
        &:before{ 
            color: $color-003;
        }
        span{
            width: 80%;
            &:before{ 
                color: $color-003;
            }
        }
    }
    span.onsale{
        top: 20px;
        left: 20px;
        right: 30px;
        margin: 0;
        width: 40px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 50%;
        @extend %main_bg_color;
        color: $cl-001;
        padding: 0;
        min-width: 40px;
        line-height: 40px;
        border: none;
    }
    a{
        img{
            box-shadow: none;
        }
        &:hover{
            img{
                box-shadow: none;
            } 
        }
    }
    .kopa-shop-detail{
        margin-bottom: 40px;
    }
    #content div.product, div.product{
        .badge-icon-1{
            left: -10px;
            @media screen and (max-width: 1160px){ 
                left: -5px;
            }
        }
        div.images{
            margin-bottom: 0;
            @media screen and (max-width: 639px){ 
                width: 100%;
                float: none;
            }
            img{
                box-shadow: none;
                width: 100%;
            }
            div.thumbnails{
                padding: 0;
                margin: 0 -2.5px;
                a{
                    width: 1/3 * 100%;
                    padding: 0 2.5px;
                    margin: 5px 0 0;
                }
            }
        }
        p.price, span.price{
            @extend %main_color;
            margin-bottom: 10px;
            font-size: 36px;
            line-height: 42px;
            font-weight: 700;
            font-family: $font-primary;
            ins {
                text-decoration: none;
            }
            del {
                font-size: 18px;
                margin-right: 2px;
                color: $color-secondary;
                font-weight: 400;
            }
        }
        .product_title{
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            padding-left: 23px;
            position: relative;
            margin: 25px 0 20px;
            &:before {
                content: '';
                position: absolute;
                top: -1px;
                left: 0;
                width: 5px;
                height: 34px;
                @extend %main_bg_color;
            }
        }
        .woocommerce-tabs{
            ul.tabs{
                padding: 0;
                background: #f6f6f6;
                li{
                    background: none !important;
                    box-shadow: none;
                    border-radius: 0;
                    border: none;
                    padding: 0;
                    margin: 0; 
                    a{
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: 400;
                        text-transform: capitalize;
                        padding: 15px 50px;
                    }
                    &:before{
                        content: '';
                        display: block !important;
                        position: absolute;
                        top: 22px;
                        left: -1px;
                        width: 1px;
                        height: 12px;
                        background: #dedede;
                        box-shadow: none !important; 
                    }
                    &:after{
                        content: '';
                        display: block !important;
                        box-shadow: none; 
                        border: none;
                        border-radius: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        @extend %main_bg_color;
                        @extend %transition;
                    }
                    &:first-child{
                        &:before{
                            display: none;
                        }
                    }
                    &:hover, &.active{
                        &:after{
                            height: 3px;
                        }
                    }
                }
            }
            .panel{
                border: none;
                box-shadow: none;
                margin: 30px 0 0;
                background: none;
            }
            .wc-tab{
                h2{
                    font-size: 16px;
                    line-height: 24px;
                    padding-left: 15px;
                    position: relative;
                    margin-bottom: 20px;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 0;
                        width: 2px;
                        height: 20px;
                        @extend %main_bg_color;
                    }
                }
            }
        }
        form.cart{
            margin: 0;
            > *, div.quantity{
                margin: 30px 0 0;
            }
        }
        .product_meta{
            margin-top: 30px;
            > span{
                display: block;
                margin-top: 10px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    input#submit:hover, #respond input#submit{
        &:hover{
            @extend %main_bg_color;
        }
    }
    a.button, button.button, input.button, input#submit, #content input.button, .comment-box input#submit, 
    div.product form.cart .button, #content div.product form.cart .button{
        padding: 0 40px;
        text-align: center;
        font-weight: normal;
        border-radius: 40px;
        left: auto;
        color: $cl-001;
        text-shadow: none;
        border: none;
        @extend %main_bg_color;
        box-shadow: none;
        display: inline-block;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        &:before {
            top: 0.5em;
            @extend %main_color;
            font-weight: bold;
        }
        &:hover{
            background: #333;
        }
        &.loading{
            min-height: 10px;
            width: auto;
        }
        &.alt{
            @extend %main_bg_color;
            border:none;
            box-shadow: none;
            outline: none;
            text-shadow: none;
            @include transition(.3s);
            &:hover{
                background: #000;
                @include opacity(0.8);
            }
        }
    }
    div.product form.cart .single_add_to_cart_button {
        padding: 0 60px; 
        height: 46px;
        line-height: 46px;
        text-align: center;
        border-radius: 50px;
        background: $color-primary;
        float: right;
        &:before{
            @extend %ti;
            content: "\e60d";
            color: #fff !important;
            font-size: 18px;
            margin-right: 10px;
        }
        &:hover{
            @extend %main_bg_color;
        }
    }
    a.added_to_cart {
        float: right;
        padding-top: .2em;
    }
    nav.woocommerce-pagination, #content nav.woocommerce-pagination {
        @extend %clearfix;
        margin:0 0 60px;
        ul, ul.page-numbers {
            border:none;
            margin: -4px -4px 0;
            li {
                float: left;
                margin: 4px 4px 0;
                cursor: pointer;
                border: none;
                @include transition(.5s);
                a, span {
                    text-align: center;
                    background: none ;
                    border: 1px solid #f1f1f1;
                    padding: 0 4px;
                    text-align: center;
                    min-width: 25px;
                    font-size: 12px;
                    line-height: 23px;
                    height: 25px;
                    color: $color-secondary;
                    border-radius: 25px;
                    font-weight: 400;
                    @include transition(.5s);
                }
                &:hover, &.current {
                    a {
                        @extend %main_bd_color;
                        @extend %main_bg_color;
                        color: $cl-001;
                    }
                }
                &.current {
                    cursor: text;
                    span {
                        @extend %main_bd_color;
                        @extend %main_bg_color;
                        color: $cl-001;
                    }
                }
                span.current {
                    @extend %main_bd_color;
                    @extend %main_bg_color;
                    color: $cl-001;
                    cursor: text;
                }
                a {
                    &.prev, &.next{
                        color: $cl-001;
                        background: $color-primary;
                        border-color: $color-primary;
                        &:hover {
                            color: $cl-001;
                            @extend %main_bg_color;
                            @extend %main_bd_color;
                        }
                    }
                    &:hover {
                        color: $cl-001;
                        @extend %main_bg_color;
                        @extend %main_bd_color;
                    }
                }
            }
        }
    }
    .woocommerce-message, .woocommerce-error, .woocommerce-info{
        background: none;
        box-shadow: none;
        border-width: 1px;
        border-style: solid;
        @extend %main_bd_color;
        border-top-width: 3px;
        &:before{
            padding-top: 0;
            @extend %main_bg_color;
        }
    }
    .checkout{
        h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
            text-transform: uppercase;
            margin-top: 20px;
        }
    }
    #ship-to-different-address{
        margin-top: 20px;
        position: relative;
        .checkbox{
            margin-top: 0;
        }
        input, #ship-to-different-address-checkbox{
            position: absolute;
            top: 4px;
        }
    }
    #content table.cart, table.cart,
    table.shop_table {
        border: 1px solid #e5e5e5;
        border-radius: 0;
        border-collapse: inherit;
        width: 100%;
        tfoot td, tfoot th{
            border-color: #e5e5e5;
        }
        th{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            padding: 15px 12px;
        }
         td {
            padding: 30px 15px;
            &.actions{
                padding: 30px;
                .coupon {
                    @media screen and (max-width: 979px){ 
                        float: none;
                        margin-bottom: 20px;
                    }
                    .input-text{
                        width: 300px;
                        padding: 0 15px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 40px;
                    }
                    .button{
                        background: #f8f8f8;
                        color: $color-primary;
                        margin-left: 15px;
                        &:hover{
                            background: $color-primary;
                            color: $cl-001;
                        }
                    }
                }
                .button{
                    background: $color-primary;
                    &:hover{
                        background: #F8F8F8;
                        color: $color-primary;
                    }
                }
            }
        }
        tbody{
            .product-name{
                font-size: 20px;
                line-height: 28px;
                font-weight: 400;
                text-transform: capitalize;
            }
            .product-price{
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                @extend %main_color;
            }
            .product-subtotal{
                font-size: 24px;
                line-height: 32px;
                font-weight: 400;
            }
        }
        a.remove{
            font-size: 12px;
            width: 18px;
            height: 18px;
            line-height: 18px;
            background: #c7c7c7;
            color: #fff;
            margin-left: 15px;
            &:hover{
                @extend %main_bg_color;
            }
        }
        img{
            width: 80px;
        }
    }
    .cart-collaterals{
        .cart_totals {
            @media screen and (max-width: 767px){ 
                width: 100%;
                float: none;
            }
            > h2{
                font-size: 24px;
                line-height: 32px;
                font-weight: 400;
                padding-left: 23px;
                position: relative;
                text-align: left;
                margin: 20px 0 30px;
                &:before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 5px;
                    height: 34px;
                    @extend %main_bg_color;
                }
            }
            table.shop_table {
                border: 1px solid #e5e5e5;
                border-radius: 0;
                border-collapse: inherit;
                width: 100%;
                tfoot td, tfoot th{
                    border-color: #e5e5e5;
                }
                th{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 15px 12px;
                }
                 td {
                    padding: 15px;
                }
                .amount{
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;
                }
                strong{
                    .amount{
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: 700;
                        @extend %main_color;
                    }
                }
            }
            a.button.alt{
                width: 220px;
                height: 50px;
                line-height: 50px;
                border-radius: 50px;
                font-size: 1em;
                text-transform: capitalize;
                margin-top: 30px;
            }
        }
    }
    #review_form .comment-box .form-submit input{
        width: auto;
    }
    form .form-row{
        &.validate-required{
            &.woocommerce-invalid{
                .chzn-single, .chzn-drop, input.input-text, select{
                    @extend %main_bd_color;
                }
            }
        }
        input, input.input-text, select, textarea{
            width: 100%;
        }
        select, textarea{
            height: 36px;
        }
        &.place-order{
            input{
                width: auto;
            }
        }
        &.create-account{    
            .input-checkbox{
                float: left;
                width: auto;
                height: 32px;
            }
        }
    }
    .quantity{
        .plus, .minus{
            text-shadow: none !important;
            background: #fff;
            border-color: #d8d8d8;
            height: 23px;
            width: 35px;
            &:hover{
                @extend %main_bg_color;
                color: $cl-001;
            }
        }
        input.qty{
            padding: 0;
            text-align: center;
            border-color: #d8d8d8;
            font-weight: bold;
            border-radius: 0;
            border-right: none;
            height: 46px;
            width: 50px;
        }
    } 
    .woocommerce-tabs{
        ul.tabs{
            li{
                &:before, &:after{
                    display: none !important;
                }
            }
        }
    }
    ul.cart_list, ul.product_list_widget{ 
        > li{
            padding: 20px 0;
            @extend %clearfix;
            .star-rating{
                float: none;
            }
            ins{
                text-decoration: none;
                @extend %main_color;
                font-size: 14px;
                line-height: 22px;
            }
            ins, del{
                font-family: $font-primary;
            }
            img{
                width: 76px;
            }
            .star-rating{
                font-size: 12px;
                margin-bottom: 5px;
            }
        }
        a{
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            text-transform: none;
            margin-bottom: 5px;
            display: block;
        }
    }
    .quantity, #content .quantity, .widget_shopping_cart_content a.button:hover{
        min-width: 83px;
        width: auto;
        @extend %main_color;
        input.qty{
            border-right: 1px solid #d8d8d8;
            // padding-left: 10px;
        }
    }
    .widget_shopping_cart{
        .total {
            padding: 20px 0 0;
            font-size: 18px;
            line-height: 24px;
            span{
                @extend %main_color;
            }
        }
    }
    &.widget{
        text-align: left !important;
        .widget-title{
            
        }
        &.widget_shopping_cart{

        }
        &.widget_product_search{
            form{ 
                input{
                    padding: 0 70px 0 10px;
                    &[type="submit"]{
                        @extend %main_bg_color;
                        padding: 0 10px;
                    }
                }
            }
        }
        &.widget_product_categories{
            select{
                width: 100%;
                padding: 5px 10px;
            }
        }
    }
    .widget_price_filter {
        .price_slider {
            margin-bottom: 25px;
        }
        .price_slider_wrapper{
            .ui-widget-content{
                height: 2px;
                border: none;
                border-radius: 0;
                background: $cl-005;
            }
        }
        .ui-slider { 
            .ui-slider-range{
                @extend %main_bg_color;
                box-shadow: none !important;
            }
            .ui-slider-handle{
                @include icon(16px, 16px, 16px, 12px);
                border: none;
                margin: 0 !important;
                box-shadow: none !important;
                @extend %main_bg_color;
                top: -7px; 
                &:last-child{
                    margin-left: -16px !important;
                }
            } 
        }
        .price_slider_amount {
            line-height: 24px;
            font-size: 16px;
            text-align: left;
        }
    }
    #reviews {
        #comments{
            ol.commentlist{
                padding: 0;
                margin-top: 40px;
                @extend %list_reset;
                @extend %list_format;
                li {
                    @include list_t(40px, 40px, 1px solid #e9e9e9);
                    .comment_container{
                        position: relative;
                        min-height: 80px;
                        img{
                            background: none;
                            padding: 0;
                            border: none;
                            width: 80px;
                            border-radius: 50%;
                        }
                        .comment-text{
                            margin: 0 0 0 110px;
                            border: none;
                            border-radius: 0;
                            padding: 0;
                            p.meta{
                                font-size: 1em;
                                strong{
                                    font-weight: 400;
                                    font-size: 18px;
                                    @extend %main_color;
                                }
                            }
                        }
                    }
                }
            }
        }
        #review_form_wrapper{
            margin-top: 50px;
            .comment-reply-title{
                font-size: 16px;
                line-height: 24px;
                padding-left: 15px;
                position: relative;
                margin-bottom: 20px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 2px;
                    height: 20px;
                    @extend %main_bg_color;
                }
            }
            .comment-form-comment{
                label{
                    display: none;
                }
            }
            textarea{
                box-shadow: none;
                background: none;
                outline: none !important;
                border: 1px solid #e9e9e9;
                padding: 10px 15px;
                width: 100%;
                color: $cl-004;
            }
            input[type="submit"] {
                @extend %transition;
                border: none !important;
                outline: none !important;
                @extend %main_bg_color;
                line-height: 40px;
                font-weight: 400;
                text-transform: capitalize;
                color: $cl-001;
                width: auto;
                padding: 0 60px;
                border-radius: 50px;
                margin-top: 10px;
                &:hover {
                    background: $color-primary;
                }
            }
        }
    }
    .product-detail{
        @extend %clearfix;
        display: block;
        border: 1px solid #e5e5e5;
    }
    .related.products{
        margin-top: 30px;
        h2{
            border-bottom: 0;
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            padding-left: 23px;
            position: relative;
            margin: 25px 0 20px;
            &:before {
                content: '';
                position: absolute;
                top: -1px;
                left: 0;
                width: 5px;
                height: 34px;
                @extend %main_bg_color;
            }
        }
        .products{
            margin-top: -30px;
            > li{
                margin-top: 30px;
                @media screen and (max-width: 979px){ 
                    width: 50%;
                }
                @media screen and (max-width: 479px){ 
                    width: 100%;
                }
            }
        }
        .badge-icon-1{
            left: 0;
            @media screen and (max-width: 1160px){ 
                left: 5px;
            }
        }
        .ft-wrap{
            ul{
                margin: 0 !important;
                li{
                    margin: 0 !important;
                }
            }
        }
    }
    #payment{
        ul.payment_methods{
            @extend %list_reset;
            padding: 15px 30px;
            border-color: #e5e5e5;
        }
        div.form-row{
            padding: 30px;
            border: none; 
        }
    }
    .cart-subtotal{
        .amount{
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
        }
    }
    .order-total{
        .amount{
            font-size: 24px;
            line-height: 32px;
            @extend %main_color;
        }
    }
    .col2-set {
        @media screen and (max-width: 767px){ 
            .col-1, .col-2{
                width: 100%;
                float: none;
                margin-top: 40px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
} 
.woocommerce-checkout{
    input, textarea, select{
        border: 1px solid #e5e5e5;
        padding: 8px; 
        line-height: 18px;
    }
    label{
        font-weight: 400;
    }
    .form-row{ 
        .chosen-container-single {
            .chosen-single {
                border-radius: 0;
                background: none;
                box-shadow: none;
                padding: 0 0 0 8px;
                height: 36px;
                line-height: 36px;
                border: 1px solid #e5e5e5;
                background-clip: inherit;
                color: $color-primary;
            }
        }
    }
}

/*--- cart ---*/

.type-page{
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    padding: 50px 30px;
    @media screen and (max-width: 479px){ 
        padding: 30px 10px;
    }
    .entry-title{
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        padding-left: 23px;
        position: relative;
        margin: 0 0 40px;
        &:before {
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            width: 5px;
            height: 34px;
            @extend %main_bg_color;
        }
    }
}