/**
 * Table of Contents:
 *

1. - Global Styles
2. - Header
    2.1 - Navigation 
    2.2 - Search 
3. - Content 
    3.1 - Widget
    3.2 - Home Page
    3.3 - Sub Page
    3.4 - Sidebar 
    3.5 - Bottom sidebar
4. - Footer 

5. - Responsive
 
 * -----------------------------------------------------------------------------
 */


 
/**
 * 1. Global Styles
 * -----------------------------------------------------------------------------
 */

@import "sass/style-globals";


/**
 * 2. Header
 * -----------------------------------------------------------------------------
 */
 
@import "sass/modules/header";
   

/** 
 * 3. Content
 * -----------------------------------------------------------------------------
 */

/*--- Button ---*/

.kopa-btn-1{
    width: 13px;
    height: 13px;
    position: relative;
    cursor: pointer;
    span{
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background: $color-secondary;
        position: absolute;
        left: 5px;
        top: 5px;
        @extend %transition;
        &:before, &:after{
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background: $color-secondary;
            position: absolute;
            left: 0;
            top: -5px;
            @extend %transition;
        }
        &:after{
            top: 5px;
        }
    }
    &:hover{
        span{
            @extend %main_bg_color;
            &:before, &:after{
                @extend %main_bg_color;
            }
        }
    }
}
.kopa-btn-2{
    display: inline-block !important;
    text-transform: capitalize;
    padding: 9px 30px;
    border-radius: 40px;
    border: 1px solid $cl-006;
    box-shadow: -1px 0px 22px 2px $cl-006;
}
.kopa-btn-3{
    @extend .kopa-btn-2;
    border: none;
    box-shadow: none;
    @extend %main_bg_color;
    color: $cl-001;
    &:hover{
        color: $cl-001;
        background: $color-primary;
    }
}

.kopa-btn-4{
    @extend .kopa-btn-2;
    border: none;
    box-shadow: none;
    background: $cl-001;
    color: $cl-002;
    font-weight: 400;
    @extend %transition;
    &:hover{
        @extend %main_color;
    }
}
.kopa-btn-5{
    font-weight: 700;
    text-transform: uppercase;
    @extend %main_color;
    &.style-01{
        color: $color-003;
    }
    &.style-02{
        color: $color-001;
    }
    &.style-03{
        color: $color-002;
    }
    &:hover{
        color: $color-primary;
    }
}
.kopa-btn-6{
    @extend .kopa-btn-3;
    padding: 7px 35px;
}
.kopa-btn-7{
    @extend .kopa-btn-2;
    border: none;
    box-shadow: none;
    padding: 7px 25px;
    color: $color-primary;
    font-weight: 400;
    background: $cl-007;
    &:hover{
        color: $cl-001;
        @extend %main_bg_color;
    }
}
.kopa-btn-8{
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    background: $color-primary;
    color: $cl-001;
    text-transform: capitalize;
    padding: 15px 70px;
    border-radius: 60px;
    &:hover{
        @extend %main_color;
    }
    @media screen and (max-width: 639px){
        font-size: 16px;
        line-height: 26px;
        padding: 12px 30px;
    }
}
.kopa-btn-9{
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    @extend %main_bg_color;
    color: $cl-001;
    text-transform: capitalize;
    padding: 15px 70px;
    border-radius: 60px;
    &:hover{
        color: $cl-001;
        background: $cl-002;
    }
    @media screen and (max-width: 639px){
        font-size: 16px;
        line-height: 26px;
        padding: 12px 30px;
    }
}
.kopa-btn-10{
    @extend .kopa-btn-4;
    padding: 8px 40px;
}
.kopa-btn-11{
    display: inline-block !important;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 13px 40px;
    border-radius: 50px;
    color: $cl-001;
    background: $color-primary;
    &:hover{
        color: $cl-001;
        @extend %main_bg_color;
    }
}
.kopa-btn-12{
    display: inline-block !important;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    padding: 17px 50px;
    border-radius: 50px;
    color: $cl-001;
    background: $color-primary;
    i{
        margin-right: 10px;
    }
    &:hover{
        @extend %main_color;
    }
}
.kopa-btn-13{
    @extend .kopa-btn-3;
    background: $color-primary;
    padding: 9px 40px;
    &:hover{
        @extend %main_bg_color;
    }
}
.kopa-btn-14{
    @extend .kopa-btn-3;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    border-radius: 50px;
    padding: 12px 50px;
    i{
        margin-right: 8px;
    }
}

.kopa-btn-15{
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    padding: 14px 60px;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    @extend %main_bd_color;
    @extend %main_color;
    &:hover{
        color: $color-primary;
        border-color: $color-primary;
    }
    @media screen and (max-width: 639px){ 
        padding: 10px 30px;
    }
}

.white-text-style{
    .kopa-btn-8{
        background: $cl-001;
        color: $color-primary;
        &:hover{
            @extend %main_color;
        }
    }
    .kopa-btn-9{
        color: $cl-001;
        &:hover{
            color: $cl-001;
        }
    }
    .kopa-btn-12{
        color: $color-primary;
        background: $cl-001;
        &:hover{
            @extend %main_color;
        }
    }
    .kopa-btn-15{
        color: $cl-001;
        border-color: $cl-001;
        &:hover{
            @extend %main_bd_color;
            @extend %main_color;
        }
    }
}



/*--- item ---*/

div[class*="add-to-wishlist"]{
    > div{
        display: none !important;
        &:first-child{
            display: block !important;
            &.hide{
                .ti-heart{
                    &:before{
                        content: '\e64c';
                    }
                }
            }
        }
        img{
            display: none !important;
        }
    }
}
.ct-item-1{
    background: $cl-001;
    border: 1px solid $cl-008;
    overflow: hidden;
    @extend %transition;
    .entry-thumb{
        padding: 5px;
    }
    .entry-content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px 20px 10px 23px;
        background: $cl-001;
        @include transition(.3s);
        header{
            margin-left: -23px;
            padding-left: 23px;
            margin-bottom: 5px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 10%;
                left: 0;
                width: 3px;
                height: 68%;
                @extend %main_bg_color;
            }
        }
        .entry-title{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .kopa-rating{
            margin-bottom: 0;
        }
        > p{
            max-height: 0;
            margin-bottom: 0;
            @include transition(.3s ease-in-out);
            overflow: hidden;
        }
    }
    .ct-space-1{
        @include transition(.5s ease-in-out);
        height: 0;
    }
    .ct-icon-1{
        position: absolute;
        top: -27.5px;
        right: 30px;
    }
    footer{
        position: relative;
        @extend %clearfix;
    }
    .ft-wrap{
        text-align: center;
        width: 100%;
        background: $cl-001;
        @extend %clearfix;
        ul{
            li{
                width: 50%;
                float: left;
                &:last-child{
                    a{
                        border-right: none;
                    }
                }
                a{
                    display: block;
                    padding: 16px 5px;
                    border-top: 1px solid $cl-008;
                    border-right: 1px solid $cl-008;
                }
            }
        }
        &.style-01{
            font-size: 12px;
            line-height: 20px;
            i{
                margin-right: 10px;
            }
            ul{
                li{
                    &:last-child{
                        text-transform: capitalize;
                        a{
                            @extend %main_color;
                            &:hover{
                                color: $color-secondary;
                            }
                        }
                    }
                }
            }
        }
        &.style-02{
            position: absolute;
            top: 0;
            left: 101%;
            @include transition (.5s ease-in-out);
            font-size: 20px;
            ul{
                li{
                    width: 1/3 * 100%;
                    @extend %transition;
                    a{
                        color: $cl-004;
                        &:hover{
                            color: $cl-001;
                            @extend %main_bd_color;
                            @extend %main_bg_color;
                        }
                    }
                }
            }
            span{
                display: none;
            }
        }
    }
    &:hover{
        box-shadow: -1px 0px 22px 2px $cl-008;
        .entry-content{
            > p{
                max-height: 100px;
            }
        }
        .ct-space-1{
            height: 20px;
        }
        .ft-wrap{
            &.style-02{
                left: 0;
            }
        }
    }
}
.ct-item-4{
    @extend .ct-item-1;
    footer {
        width: calc(100% + 43px);
        left: -23px;
        right: -20px;
        bottom: -10px;
    }
} 
.ct-item-5{
    @extend .ct-item-1;
    .entry-content{
        > p{
            max-height: 100px;
        }
    }
    .ct-space-1{
        display: none;
    }
    .kopa-btn-6 {
        margin: 15px 0 40px 23px;
        color: $cl-001 !important;
    }
} 
.ct-item-6{
    padding-left: 120px;
    background: $cl-001;
    box-shadow: -1px 0px 22px 2px $cl-008;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 100%;
        @extend %main_bg_color;
    }
    .entry-date-1{
        color: $cl-001;
        width: 120px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -38px;
        span{
            font-size: 50px;
            line-height: 50px;
        }
        p{
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
        }
    }
    .entry-content{
        padding: 35px 30px;
        .entry-categories{
            text-transform: uppercase;
        }
        .entry-title{
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            text-transform: capitalize;
            margin: 10px 0 0;
        }
        > ul{
            margin-top: 25px;
            font-size: 16px;
            line-height: 24px;
            li{
                margin-top: 10px;
            }
            i{
                width: 20px;
                margin-right: 5px;    
            }
        }
        .kopa-btn-15{
            margin-top: 30px;
        }
    }
    &.style-02{
        box-shadow: none;
        .entry-content{
            @extend .white-text-style;
            background: $color-primary;
            li{
                color: rgba(255,255,255,.5);
            }
        }
    }
}

.ct-item-1.style-02{
    a{
        color: $color-primary;
        &:hover{
            color: $color-001;
        }
    }
    .ct-icon-1{
        background: $color-001;
    }
    .entry-content{
        header{
            &:before {
                background: $color-001;
            }
        }
    }
    .ft-wrap{
        &.style-01{
            ul{
                li{
                    &:last-child{
                        a{
                            color: $color-001;
                            &:hover{
                                color: $color-secondary;
                            }
                        }
                    }
                }
            }
        }
        &.style-02{
            ul{
                li{
                    a{
                        &:hover{
                            color: $cl-001;
                            background: $color-001;
                            border-color: $color-001;
                        }
                    }
                }
            }
        }
    }
    .kopa-btn-6{
        background: $color-001;
        &:hover{
            background: $color-primary;
        }
    }
}
.ct-item-1.style-03{
    a{
        color: $color-primary;
        &:hover{
            color: $color-003;
        }
    }
    .ct-icon-1{
        background: $color-003;
    }
    .entry-content{
        header{
            &:before {
                background: $color-003;
            }
        }
    }
    .ft-wrap{
        &.style-01{
            ul{
                li{
                    &:last-child{
                        a{
                            color: $color-003;
                            &:hover{
                                color: $color-secondary;
                            }
                        }
                    }
                }
            }
        }
        &.style-02{
            ul{
                li{
                    a{
                        &:hover{
                            color: $cl-001;
                            background: $color-003;
                            border-color: $color-003;
                        }
                    }
                }
            }
        }
    }
    .kopa-btn-6{
        background: $color-003;
        &:hover{
            background: $color-primary;
        }
    }
}
.ct-item-1.style-04{
    a{
        color: $color-primary;
        &:hover{
            color: $color-002;
        }
    }
    .ct-icon-1{
        background: $color-002;
    }
    .entry-content{
        header{
            &:before {
                background: $color-002;
            }
        }
    }
    .ft-wrap{
        &.style-01{
            ul{
                li{
                    &:last-child{
                        a{
                            color: $color-002;
                            &:hover{
                                color: $color-secondary;
                            }
                        }
                    }
                }
            }
        }
        &.style-02{
            ul{
                li{
                    a{
                        &:hover{
                            color: $cl-001;
                            background: $color-002;
                            border-color: $color-002;
                        }
                    }
                }
            }
        }
    }
    .kopa-btn-6{
        background: $color-002;
        &:hover{
            background: $color-primary;
        }
    }
}

.ct-item-2{
    padding-left: 70px;
    h4{
        i{
            font-size: 18px;
            @extend %main_color;
            margin-right: 12px;
        }
        span{
            font-weight: 300;
        }
    }
    &.style-01{
        h4{
            i{
                color: $color-002;
            }
        }
        .more-link{
            color: $color-002;
        }
    }
}
.ct-item-3{
    padding: 50px;
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    @extend %transition;
    @media screen and (max-width: 479px){ 
        padding: 20px;
    }
    &:hover{
        box-shadow: -1px 0px 22px 2px $cl-008;
    }
    > header{
        margin-bottom: 30px;
        @media screen and (max-width: 479px){ 
            margin-bottom: 15px;
        }
        .ct-title-10{
            margin: 9px 0 0;
        }
        .ct-title-8{
            margin: 0;
        }
        @media screen and (max-width: 479px){ 
            > div{
                float: none;
                margin-top: 10px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    .kopa-btn-6{
        margin-top: 30px;
    }
    &.style-01{
        .ct-title-10{
            &:before{
                background: $color-001;
            }
        }
        .ct-title-8{
            color: $color-001;
        }
        .kopa-btn-3{
            background: $color-001;
            &:hover{
                background: $color-primary;
            }
        }
    }
    &.style-02{
        .ct-title-10{
            &:before{
                background: $color-003;
            }
        }
        .ct-title-8{
            color: $color-003;
        }
        .kopa-btn-3{
            background: $color-003;
            &:hover{
                background: $color-primary;
            }
        }
    }
    &.style-03{
        .ct-title-10{
            &:before{
                background: $color-002;
            }
        }
        .ct-title-8{
            color: $color-002;
        }
        .kopa-btn-3{
            background: $color-002;
            &:hover{
                background: $color-primary;
            }
        }
    }
}


/**
 * 3.1 Widget
 * -------------------------------------------------------------------
 */


/*--- reading-module-sub ---*/

.reading-module-sub-list{
    .widget-content{
        padding-left: 20px;
    }
}

/*--- reading-module-sub-1 ---*/

.reading-module-sub-1{
    .widget-content{
        padding: 60px 0 0;
    }
    h4{
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        text-transform: capitalize;
        span{
            color: $cl-004;
            font-weight: 300;
            position: relative;
            padding-left: 20px;
            &:before {
                content: '';
                width: 2px;
                height: 28px;
                display: inline-block;
                background: $cl-004;
                position: absolute;
                top: 2px;
                left: 9px;
            }
        }       
    }
    h5{
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
        text-transform: uppercase;
        @extend %main_color;
        margin-top: 15px;
        span{
            font-weight: 700;
        }
    }
    .kopa-btn-2{
        margin-top: 15px;
    }
}

/*--- reading-module-promo-1 ---*/

.promo-text{
    span{
        display: inline-block;
    }
}
.promo-text-1{
    font-size: 200px;
    line-height: 210px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.white-text-style{
    .promo-text-1{
        span{
            color: $cl-001;
        }
    }
}
// @-webkit-keyframes txtltspacing {
//     0%   { letter-spacing: -2px}
//     100%   { letter-spacing: -3px}
// }
// @-ms-keyframes txtltspacing {
//     0%   { letter-spacing: -2px}
//     100%   { letter-spacing: -3px}
// }
// @-o-keyframes txtltspacing {
//     0%   { letter-spacing: -2px}
//     100%   { letter-spacing: -3px}
// }
.promo-text-2{
    margin-top: 10px;
    @include text_format($font-support, 120px, 120px, 400);
    @extend %main_color;
    text-transform: uppercase;
    letter-spacing: -6px;
    span{
        // &.animated{
        //     -webkit-animation: txtltspacing 4s ease-in-out infinite alternate;
        //     -moz-animation: txtltspacing 4s ease-in-out infinite alternate;
        //     -ms-animation: txtltspacing 4s ease-in-out infinite alternate;
        //     animation: txtltspacing 4s ease-in-out infinite alternate;
        // }
        // :nth-child(2) {
        // -webkit-animation-delay:0.2s;
        //    -moz-animation-delay:0.2s;
        //     -ms-animation-delay:0.2s;
        //         animation-delay:0.2s;
        // }
        // :nth-child(3) {
        // -webkit-animation-delay:0.4s;
        //    -moz-animation-delay:0.4s;
        //     -ms-animation-delay:0.4s;
        //         animation-delay:0.4s;
        // }
        // :nth-child(4) {
        // -webkit-animation-delay:0.6s;
        //    -moz-animation-delay:0.6s;
        //     -ms-animation-delay:0.6s;
        //         animation-delay:0.6s;
        // }
        // :nth-child(5) {
        // -webkit-animation-delay:0.8s;
        //    -moz-animation-delay:0.8s;
        //     -ms-animation-delay:0.8s;
        //         animation-delay:0.8s;
        // }
        // :nth-child(6) {
        // -webkit-animation-delay:1s;
        //    -moz-animation-delay:1s;
        //     -ms-animation-delay:1s;
        //         animation-delay:1s;
        // }
        // :nth-child(7) {
        // -webkit-animation-delay:1.2s;
        //    -moz-animation-delay:1.2s;
        //     -ms-animation-delay:1.2s;
        //         animation-delay:1.2s;
        // }
        // :nth-child(8) {
        // -webkit-animation-delay:1.4s;
        //    -moz-animation-delay:1.4s;
        //     -ms-animation-delay:1.4s;
        //         animation-delay:1.4s;
        // }
    }
}
.promo-text-3{
    font-size: 34px;
    line-height: 42px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    padding: 8px 26px;
    background: $cl-001;
    display: inline-block;
    margin-top: 20px;
    span{
        color: $cl-002 !important;
    }
}
.reading-module-promo-1{
    text-align: center;
}

/*--- reading-module-search-1 ---*/

.search-box-1 {
    .search-form-1 {
        position: relative;
        width: 100%;
        .search-text {
            text-align: center;
            width: 100%;
            border: none;
            background: none; 
            outline: none;
            height: 44px;
            line-height: 44px;
            padding: 0;
            font-size: 16px;
            color: rgba(255,255,255, 0.5);
            text-transform: capitalize;
            border-bottom: 1px solid rgba(255,255,255, 0.5);
            @extend %transition;
        }
        .search-submit {
            margin-top: 50px;
            outline: none;
        }
    }
}
.reading-module-search-1{
    padding: 50px 30px;
    @extend %main_bg_color;
    @extend .dark-text-style;
    text-align: center;
    .widget-content{
        h3{
            color: $cl-001;
            font-weight: 300;
        }
    }
    .search-box-1{
        margin-top: 40px;
    }
}

/*--- reading-module-search-2 ---*/

.search-box-2 {
    .search-form-2 {
        position: relative;
        width: 100%;
        padding: 1px 340px 1px 0;
        .search-text {
            width: 100%;
            background: none; 
            outline: none;
            height: 36px;
            line-height: 36px;
            padding: 0 20px;
            font-size: 16px;
            color: rgba(255,255,255, 0.5);
            text-transform: capitalize;
            border: 1px solid rgba(255,255,255, 0.5);
            @extend %transition;
        }
        .search-submit {
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .dropdown{
        position: absolute;
        top: 1px;
        right: 150px;
        button{
            width: 170px;
            background: none; 
            outline: none;
            height: 36px;
            line-height: 36px;
            padding: 0 35px 0 20px;
            font-size: 16px;
            color: $cl-001;
            text-transform: capitalize;
            border: 1px solid rgba(255,255,255, 0.5);
            text-align: left;
            @extend %transition;
            span{
                color: $cl-001;
                position: absolute;
                top: 14px;
                right: 15px;
                font-size: 10px;
            }
        }
    }
    
}
.dropdown-menu{
    border-radius: 0;
    width: 320px;
    margin: 10px 0 0 !important;
    padding: 10px 0 !important;
    box-shadow: 0px 0px;
    border: 1px solid $cl-007;
    > li{
        > a{
            padding: 5px 20px;
            line-height: 22px;
            color: $color-primary;
        }
    }
    @media screen and (max-width: 479px){ 
        width: 300px;
    }
    @media screen and (max-width: 359px){ 
        width: 260px;
    }
}
.reading-module-search-2{
    @extend .reading-module-search-1;
    padding: 16px 30px;
    text-align: left;
    .widget-content{
        h3{
            font-size: 18px;
            line-height: 26px;
            margin: 5px 0 0;
        }
    }
}
.search-form-4 {
    position: relative;
    width: 100%;
    .search-text {
        width: 100%;
        background: none; 
        outline: none;
        border: 1px solid $cl-008;
        height: 48px;
        line-height: 48px;
        padding: 0 45px 0 15px;
        color: $cl-010;
        @extend %transition;
    }
    .search-submit {
        outline: none;
        background: none; 
        border: none;
        padding:0;
        font-size: 16px;
        position: absolute;
        top: 13px;
        right: 15px;
    }
}

/*--- reading-module-search ---*/

.search-box-3 {
    @extend .search-box-2;
    .search-form-3 {
        @extend .search-form-2;
        padding: 0px 340px 0px 0;
        .search-text {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: $cl-010;
            border: 1px solid $cl-008;
        }
        .search-submit {
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .dropdown{
        button{
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: $color-secondary;
            border: 1px solid $cl-008;
            span{
                color: $color-secondary;
                top: 16px;
            }
        }
    }
}
.reading-module-search-3{
    border: 1px solid $cl-006;
    border-top: none;
    background: $cl-001;
    padding: 40px 50px;
    .widget-content{
        h3{
            font-size: 22px;
            line-height: 30px;
            font-weight: 300;
            margin: 5px 0 0;
        }
    }
    .dropdown-menu{
        border-color: $cl-008;
    }
}


/*--- reading-module-article-list-1 ---*/

.reading-module-article-list-1{
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
        }
    }
    .entry-item{
        background: $cl-007;
        .entry-thumb{
            width: 224px;
            float: right;
        }
        .entry-content{
            overflow: hidden;
            padding: 35px 0 35px 40px;
        }
        @media screen and (max-width: 479px){ 
            .entry-thumb{
                display: none;
            }
            .entry-content{
                overflow: visible;
                padding: 25px 30px;
            }
        }
    }
    .kopa-btn-3{
        margin-top: 15px;
    }
}

/*--- reading-module-article-list-2 ---*/

.reading-module-article-list-2{
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
        }
    }
    .entry-item{
        background: $cl-001;
        border: 2px solid $cl-008;
        .entry-thumb{
            width: 182px;
            float: right;
        }
        .entry-content{
            overflow: hidden;
            word-wrap: break-word;
            padding: 26px 0 26px 30px;
        }
    }
    @media screen and (max-width: 1023px){ 
        .entry-item{
            .entry-thumb{
                display: none;
            }
            .entry-content{
                overflow: visible;
                padding: 25px 30px;
            }
        }
    }
    @media screen and (max-width: 767px){ 
        .entry-item{
            .entry-thumb{
                display: block;
            }
            .entry-content{
                overflow: hidden;
                padding: 26px 0 26px 30px;
            }
        }
    }
    @media screen and (max-width: 479px){ 
        .entry-item{
            .entry-thumb{
                display: none;
            }
            .entry-content{
                overflow: visible;
                padding: 25px 30px;
            }
        }
    }
}

/*--- reading-module-article-list-3 ---*/

.reading-module-article-list-3{
    @extend .reading-module-article-list-1;
    .entry-item{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
    }
}

/*--- reading-module-ads-1 ---*/

.reading-module-ads-1{
    text-align: center;
    padding: 30px 15px;
    background: $cl-007;
    h3{
        margin-bottom: 0;
        display: inline-block;
    }
}

/*--- reading-module-filter-1 ---*/

.ms-item-01{
    position: relative;
    padding: 0 15px;
}
.reading-module-filter-1{
    .widget-content{
        > .text-center{
            margin-top: 50px;
        }
    }
}

/*--- reading-module-scroll ---*/

.reading-module-scroll{
    overflow: hidden;
    .item-list{
        > li{
            width: 370px;
            float: left;
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.reading-module-scroll-1{
    .entry-item{
        @extend %transition;
        background: $cl-001;
        .entry-content{
            padding: 45px 30px 30px;
            position: relative;
            border: 1px solid $cl-007;
            border-top: none;
            .kopa-btn-7 {
                position: absolute;
                top: -18px;
                left: 30px;
            }
            > footer{
                margin-top: 20px;
                .kopa-pull-right{
                    ul{
                        @extend %list_reset;
                        margin: -10px -5px 0;
                        li{
                            float: left;
                            margin: 10px 5px 0;
                        }
                    }
                }
            }
        }
        .entry-title{
            font-size: 18px;
            line-height: 26px;
            margin-left: -30px;
            padding-left: 30px;
            margin-bottom: 20px;
            position: relative;
            span{
                @extend %main_color;
            }
            &:before{
                content: '';
                position: absolute;
                top: 10%;
                left: 0;
                width: 3px;
                height: 80%;
                @extend %main_bg_color;
            }
        }
        .more-link{
            margin-top: 10px;
        }
        > h5{
            padding: 20px;
            background: $cl-001;
            border: 1px solid $cl-006;
            border-top: none;
            font-weight: 300;
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 0;
        }
        .ct-blockquote-1{
            margin-left: -30px;
        }
        .ct-blockquote-2{
            margin-left: 0;
        }
        .ct-link-1{
            margin-bottom: 20px;
        }
        &.no-thumb{
            .entry-content{
                .kopa-btn-7 {
                    position: relative;
                    top: auto;
                    left: auto;
                    margin-bottom: 30px;
                }
            }
        }
        &:hover{
            box-shadow: -1px 5px 22px 2px $cl-006;
            .ct-mask {
                @include opacity(1);
            }
            .kopa-btn-7{
                @extend %main_bg_color;
                color: $cl-001;
            }
        }
    }
}
.reading-module-scroll-2{
    .item-list{
        > li{
            width: 300px;
            margin-right: 0;
        }
    }
}
.ct-scroll-theme-1{
    .mCSB_horizontal.mCSB_inside {
        > .mCSB_container {
            padding-bottom: 15px;
            margin-bottom: 50px;
        }
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal{
        width: 50%;
        height: 30px;
        left: 25%;
        opacity: 1;
        .mCSB_dragger{
            width: 26px !important;
        }
    }
    .mCSB_scrollTools_horizontal{
        .mCSB_draggerRail{
            height: 15px;
            margin: 7px 0;
            border: 1px solid $cl-008;
            border-radius: 15px;
            padding: 3px;
            background: $cl-001;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 3px;
                right: 3px;
                bottom: 3px;
                left: 3px;
                height: 7px;
                background: $cl-008;
                border-radius: 22px;
            }
        }
        .mCSB_dragger{
            .mCSB_dragger_bar{
                width: 26px;
                height: 26px;
                line-height: 23px;
                margin: 2px 0 0;
                background: $cl-001;
                border: 1px solid $cl-008;
                box-shadow: 0px 0px 6px 1px $cl-008;
                &:before{
                    @extend %ti;
                    content: "\e6e2";
                    color: $cl-010;
                    font-size: 10px;
                }
            }
        }
    }
}
.ct-scroll-theme-2{

    .mCSB_scrollTools {
        .mCSB_draggerRail{
            width: 3px;
            border-radius: 0;
            background: $cl-006;
        }
        .mCSB_dragger{
            height: 35px !important;
            .mCSB_dragger_bar{
                width: 3px;
                height: 35px;
                border-radius: 0;
                @extend %main_bg_color;
            }
        }
    }
}

/*--- owl-carousel-1 ---*/

.owl-carousel-1{
    font-weight: 400;
    .entry-item{
        .entry-thumb{
            width: 100px;
            float: left;
            margin-right: 55px;
            img{
                border-radius: 50%;
            }
        }
        .entry-content{
            overflow: hidden;
            > p{
                font-size: 16px;
                line-height: 24px;
                font-style: italic;
                margin: -4px 0 12px;
            }
        }
    }
    span:first-of-type{
        @extend %main_color;
    }
}
.white-text-style{
    .owl-carousel-1{
        .entry-item{
            .entry-content{
                > p{
                    color: $cl-001;
                }
            }
        }
    }
}

/*--- reading-module-intro-1 ---*/

.ct-box-1{
    @include list_t(30px, 30px, 1px solid $cl-006);
    h5{
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    ul{
        @extend %clearfix;
        margin: 15px -7px 0;
        li{
            float: left;
            margin: 14px 0 0;
            padding: 0 7px;
            max-width: 50%;
        }
    }
}
.reading-module-ads-2{
    padding-left: 30px;
    .widget-content{
        position: relative;
        padding: 0 0 25px 85px;
        img{
            position: relative;
            bottom: auto;
            &:last-child{
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}

/*--- reading-module-intro-2 ---*/

.ct-widget-1{
    padding-left: 70px;
}
.reading-module-intro-2{
    .widget-content{
        > *{
            margin-top: 25px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

/*--- reading-module-intro-3 ---*/

.reading-module-intro-3{
    .widget-content{
        > *{
            margin: 20px 0 0;
            &:first-child{
                margin-top: 0;
            }
        }
        > footer{
            @extend %clearfix;
            margin: 15px -15px 0;
            span, a{
                display: inline-block;
                float: right;
                margin: 0 13px;
                margin-top: 10px;
            }
        }
    }
    &.text-left{
        .widget-content{
            > footer{
                span, a{
                    float: left;
                }
            }
        }
    }
}

/*--- reading-module-promo-2 ---*/

.reading-module-promo-2{
    .widget-content{
        > *{
            margin-top: 40px;
            &:first-child{
                margin-top: 0;
            }
        }
        p{
            @include text_format($font-01, 40px, 48px, 400);
        }
        h4{
            font-size: 60px;
            line-height: 70px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        ul{
            margin: 18px -12px 0;
            li{
                display: inline-block;

                margin: 24px 12px 0;
            }
        }
    }
}
.white-text-style{
    .reading-module-promo-2{
        p{
            color: $cl-001;
        }
    }
}

/*--- reading-module-ads-3 ---*/

.reading-module-ads-3{
    img{
        max-width: none;
        position: relative;
        left: -180px;
        @media screen and (max-width: 1366px) {
            left: -50%;
        }
        @media screen and (max-width: 1160px) {
            margin-top: 90px;
            left: -20%;
            max-width: 120%;
        }
        @media screen and (max-width: 767px) {
            margin-top: 0;
            left: 0;
            max-width: 100%;
        }
    }
}

/*--- reading-module-newsletter-1 ---*/

.newsletter-form {
    position: relative;
    input[type="text"] {
        border: none;
        color: $color-secondary;
        background: $cl-001;
        padding: 0 55px 0 20px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        width: 100%;
        @extend %transition;
    }
    button {
        border: none;
        outline: none;
        background: none;
        width: 37px;
        height: 35px;
        line-height: 33px;
        font-size: 12px;
        border-left: 1px solid $cl-005;
        text-align: center;
        color: $color-primary;
        position: absolute;
        top: 0;
        right: 0;
        @extend %transition;
        &:hover {
            @extend %main_color;
        }
    }
    ::-webkit-input-placeholder {
        color: $cl-010;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: $cl-010;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $cl-010;
    }

    :-ms-input-placeholder {
        color: $cl-010;
    }
}
.reading-module-newsletter-1{
    p{
        margin: 15px 0 0;
    }
}

/*--- reading-module-carousel-2 ---*/

.reading-module-carousel-2{
    overflow: hidden;
    .widget-header{
        padding-right: 100px;
    }
    .item{
        padding: 0 15px;
    }
    .owl-controls {
        .owl-pagination {
            position: absolute;
            top: -110px;
            right: 15px;
        }
    }
    @media screen and (max-width: 767px){ 
        .widget-header{
            padding-right: 0;
        }
        .owl-carousel-2{
            padding-top: 80px;
        }
        .owl-controls {
        .owl-pagination {
            top: -30px;
        }
    }
    }
}

/*--- reading-module-intro-4 ---*/

.reading-module-intro-4{
    .widget-content{
        padding: 8px 270px 8px 0;
        h4{
            margin-bottom: 0;
            font-size: 36px;
            line-height: 44px;
            font-weight: 300;
            text-transform: capitalize;
        }
        a{
            position: absolute;
            top: 0;
            right: 0;
        }
        @media screen and (max-width: 767px){ 
            padding: 8px 0;
            a{
                position: relative;
                top: auto;
                right: auto;
                margin-top: 20px;
            }
        }
    }
}

/*--- reading-module-intro-5 ---*/

.reading-module-intro-5{
    @media screen and (max-width: 639px){ 
        .widget-content{
            > .row{
                > div{
                    width: 100%;
                    margin-top: 30px;
                    &:first-child{
                        margin-top: 0;
                    }   
                }
            }
        }
    }
}

/*--- slider-pro ---*/

.slider-pro{
    display: none;
    background: $cl-001;
    a{
        transition: all 0.4s, visibility 0s !important;
        -ms-transition: all 0.4s, visibility 0s !important;
        -webkit-transition: all 0.4s, visibility 0s !important;
        -moz-transition: all 0.4s, visibility 0s !important;
    }
    img{
        &.sp-layer{
            opacity: 0;
            @include transition(.4s);
        }
    }
    .sp-grab, .sp-grabbing {
        cursor: auto !important;
    }
    p{
        white-space: nowrap;
        &.sp-layer{
            font-size: 14px;
        }
        &.sp-txt-1{
            @include text_format($font-01, 40px, 48px, 400);
            color: $color-primary;
            text-transform: capitalize;
        }
        &.sp-txt-2{
            @include text_format($font-primary, 55px, 64px, 700);
            color: $color-primary;
            text-transform: uppercase;
        }
        &.sp-txt-3{
            @include text_format($font-primary, 55px, 64px, 700);
            text-transform: uppercase;
            @extend %main_color;
        }
        &.sp-txt-4{
            font-size: 16px;
        }
    }
    &.sp-horizontal{
        .sp-arrows{
            @include opacity(1);
            margin-top: -20px;
            @media screen and (max-width: 639px){ 
                margin-top: -10px;
            }
        }
        .sp-previous-arrow {
            left: 40px;
        }
        .sp-next-arrow {
            right: 40px;
        }
        @media screen and (max-width: 979px){ 
            .sp-previous-arrow {
                left: 20px;
            }
            .sp-next-arrow {
                right: 20px;
            }
        }
        @media screen and (max-width: 639px){ 
            .sp-previous-arrow {
                left: 8px;
            }
            .sp-next-arrow {
                right: 8px;
            }
        }
    }
    .sp-arrow {
        @include icon(40px, 40px, 40px, 16px);
        color: $color-primary;
        border-radius: 50%;
        background: $cl-005;
        @extend %transition;
        @media screen and (max-width: 639px){ 
            @include icon(20px, 20px, 20px, 12px);
        }
        &:before{
            width: auto !important;
            height: auto !important;
            background: none !important;
            position: relative !important;
            top: auto !important;
            left: auto !important;
            right: auto !important;
            webkit-transform: skew(0deg,0deg) !important;
            -ms-transform: skew(0deg,0deg) !important;
            transform: skew(0deg,0deg) !important;
            @extend %fa;
        }
        &:after{
            display: none !important;
        }
        &:hover{
            @extend %main_bg_color;
            color: $cl-001;
        }
    }
    .sp-previous-arrow{
        &:before{
            content: '\f0d9';
            padding-right: 2px;
        }
    }
    .sp-next-arrow{
        &:before{
            content: '\f0da';
            padding-left: 2px; 
        }
    }
}
.reading-module-slider-1{
    border: 1px solid $cl-006;
    border-top: none;
}

/*--- reading-module-cat-1 ---*/

.reading-module-cat-1{
    .widget-content{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
    }
}

.ct-menu-1 {
    @extend %clearfix;
    @extend %list_format;
    li {
        position: relative;
        width: 100%;
        padding: 15px 30px !important;
        border-top: 1px solid $cl-005;
        &:first-child{
            border-top: none;
        }
        &.wu{
            &:before{
                content: '';
                position: absolute;
                top: 19px;
                left: 0;
                width: 3px;
                height: 14px;
                @extend %main_bg_color;
            }
        }
        a {
            display: block;
            color: $color-secondary;
            font-weight: 400;
            text-transform: capitalize;
            display: block;
            position: relative;
            &:hover{
                @extend %main_color;
                span{
                    color: $color-secondary;
                    &:hover{
                        @extend %main_color;
                    }
                }
            }
            > span {
                position: absolute;
                right: -12px;
                top: -2px;
                cursor: pointer;
                font-size: 12px;
                color: $color-secondary;
                @extend %transition;
                &:after {
                    @extend %fa;
                    content: '\f0d7';
                }
                &:hover{
                    @extend %main_color;
                }
            }
        }
        &.open{
            > a{
                > span {
                    &:after {
                        content: '\f0d8';
                    }
                }
            }
        }
        &.current-menu-item{
            > a{
                @extend %main_color;
            }
        }
        ul, ul.sub-menu {
            padding-left: 18px;
            li {
                border-top: none;
                padding: 0 !important;
                margin-top: 12px !important;
                a {
                    &:before{
                        content: '-';
                        margin-right: 10px;
                    }
                    &:hover{
                        @extend %main_color;
                    }
                }
                span {
                    display: none;
                }
                ul, ul.sub-menu {
                    display: block !important;
                    padding: 0 !important;
                    height: auto !important;
                }
                &.current-menu-item  {
                    > a{
                        @extend %main_color;
                    }
                }
            }
            ul{
                li{
                    a{
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.widget_product_categories{
    @extend %clearfix;
    @extend %list_format;
    .product-categories{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
    }
    li {
        position: relative;
        width: 100%;
        padding: 15px 30px !important;
        border-top: 1px solid $cl-005;
        &:first-child{
            border-top: none;
        }
        &.cat-parent{
            &:before{
                content: '';
                position: absolute;
                top: 19px;
                left: 0;
                width: 3px;
                height: 14px;
                @extend %main_bg_color;
            }
        }
        a {
            display: block;
            color: $color-secondary;
            font-weight: 400;
            text-transform: capitalize;
            display: block;
            position: relative;
            &:hover{
                @extend %main_color;
                span{
                    color: $color-secondary;
                    &:hover{
                        @extend %main_color;
                    }
                }
            }
            > span {
                position: absolute;
                right: -12px;
                top: -2px;
                cursor: pointer;
                font-size: 12px;
                color: $color-secondary;
                @extend %transition;
                &:after {
                    @extend %fa;
                    content: '\f0d7';
                }
                &:hover{
                    @extend %main_color;
                }
            }
        }
        &.open{
            > a{
                > span {
                    &:after {
                        content: '\f0d8';
                    }
                }
            }
        }
        &.current-menu-item{
            > a{
                @extend %main_color;
            }
        }
        ul, ul.sub-menu {
            padding-left: 18px;
            li {
                border-top: none;
                padding: 0 !important;
                margin-top: 12px !important;
                a {
                    &:before{
                        content: '-';
                        margin-right: 10px;
                    }
                    &:hover{
                        @extend %main_color;
                    }
                }
                span {
                    display: none;
                }
                ul, ul.sub-menu {
                    display: block !important;
                    padding: 0 !important;
                    height: auto !important;
                }
                &.current-menu-item  {
                    > a{
                        @extend %main_color;
                    }
                }
            }
            ul{
                li{
                    a{
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

/*--- reading-module-article-list-4 ---*/

.reading-module-article-list-4{
    .widget-content{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        padding: 30px 25px;
    }
    .widget-content > ul{
        margin-top: -20px;
        > li{
            margin-top: 20px;
        }
    }
    .entry-item{
        .entry-thumb{
            width: 70px;
            float: left;
            margin-right: 20px;
        }
        .entry-content{
            overflow: hidden;
        }
        .entry-title{
            margin: -5px 0 5px 0;
        }
        .entry-meta{
            margin-bottom: 0;
        }
    }
}

/*--- reading-module-module-ads-4 ---*/

.reading-module-module-ads-4{
    background: url('http://placehold.it/270x536');
    background-size: cover;
    .widget-content {
        padding: 40px 40px 135px;
        > *{
            margin-top: 55px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .ads-content{
        text-transform: uppercase;
        span{
            font-size: 28px;
            line-height: 36px;
            color: $color-primary;
        }
        p{
            font-size: 70px;
            line-height: 78px;
            font-weight: 700;
            @extend %main_color;
            margin: 5px 0;
        }
    }
}



/*--- reading-module-module-ads-6 ---*/

.reading-module-module-ads-6{
    background: $color-primary;
    .widget-content-wrap {
        padding: 40px 35px;
        position: relative;
        overflow: hidden;
        > *{
            position: relative;
        }
        img{
            position: absolute;
            top: -30px;
            right: -10px;
        }
        span{
            font-size: 28px;
            line-height: 36px;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
    footer{
        padding: 25px 35px;
        border-top: 1px solid rgba(255,255,255,.1);
        text-align: center;
        font-weight: 400;
    }
}

/*--- reading-module-module-ads-5 ---*/

.reading-module-module-ads-5{
    @extend .reading-module-module-ads-4;
    background: url('http://placehold.it/370x565');
    background-size: cover;
}

/*--- reading-module-intro-6 ---*/

.reading-module-intro-6{
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
        }
    }
}

/*--- reading-module-intro-7 ---*/

.reading-module-intro-7{
    strong{
        font-size: 16px;
        line-height: 24px;
    }
    .widget-content{
        > *{
            display: block;
            margin-top: 20px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

/*--- reading-module-team-list-1 ---*/

.reading-module-team-list-1{
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
            @media screen and (max-width: 979px){ 
                width: 50%;
            }
            @media screen and (max-width: 479px){ 
                width: 100%;
            }
        }
    }
    .entry-item{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        text-align: center;
        @extend %transition;
        &:hover{
            box-shadow: -1px 0px 22px 2px $cl-006;
        }
        .entry-top{
            padding: 5px;
        }
        .entry-content{
            margin: 25px 0 15px;
        }
        .entry-title{
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 2px;
        }
        .entry-job{
            font-size: 12px;
            line-height: 20px;
            color: $cl-004;
            display: inline-block;
            &:before{
                content: '(';
            }
            &:after{
                content: ')';
            }
        }
        > footer{
            border-top: 1px solid $cl-006;
            padding: 18px 20px;
        }
    }
}

/*--- reading-module-service-1 ---*/

.reading-module-service-1{
    a{
        margin-top: 30px;
    }
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
        }
    }
}

/*--- reading-module-service-2 ---*/

.reading-module-service-2{
    .widget-content > ul{
        margin-top: -50px;
        > li{
            margin-top: 50px;
            @media screen and (max-width: 979px){ 
                width: 50%;
            }
            @media screen and (max-width: 479px){ 
                width: 100%;
            }
        }
    }
    .entry-item{
        .ct-icon-5{
            float: left;
            margin-right: 30px;
        }
        .entry-content{
            overflow: hidden;
        }
        .entry-title{
            font-size: 18px;
            line-height: 26px;
            text-transform: capitalize;
            padding-top: 4px;
            padding-left: 23px;
            margin-bottom: 20px;
            position: relative;
            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 34px;
                background: $color-primary;
                @extend %transition;
            }
        }
        &:hover{
            .ct-icon-5{
                @extend %main_bg_color;
                color: $cl-001;
                box-shadow: none;
            }
            .entry-title{
                &:before{
                    @extend %main_bg_color;
                }
                a{
                    @extend %main_color;
                }
            }
        }
    }
}

/*--- reading-module-pricing-1 ---*/

.reading-module-pricing-1{
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
            @media screen and (max-width: 767px){ 
                width: 100%;
            }
        }
    }
}

/*--- readin-module-contact-1 ---*/

.readin-module-contact-1{
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
        }
    }
    .entry-item{
        padding: 50px 20px;
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        @extend %transition;
        &:hover{
            box-shadow: -1px 0px 22px 2px $cl-006;
        }
        h3{
            text-transform: capitalize;
            font-weight: 300;
            margin-top: 40px;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        p{
            margin-bottom: 0;
        }
        a{
            color: $color-secondary;
            &:hover{
                @extend %main_color;
            }
        }
    }
}

/*--- google maps ---*/

.kopa-map {
    height: 830px;
    width: 100%;
    @media screen and (max-width: 979px){ 
        height: 500px;
    }
    @media screen and (max-width: 479px){ 
        height: 300px;
    }
}


/*--- reading-module-link-1 ---*/

.reading-module-link-1{
    .widget-content{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        padding: 30px;
        font-weight: 400;
    }
    .widget-content > ul{
        margin-top: -10px;
        > li{
            margin-top: 10px;
        }
    }
    a{
        color: $color-secondary;
        &:hover{
            @extend %main_color;
        }
    }
}

/*--- reading-module-accordion-1 ---*/

.faq-list{
    @extend %list_reset;
    @extend %list_format;
    li{
        @include list_t(45px, 45px, 1px solid $cl-008);
    }
    h4{
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
        margin-bottom: 15px;
        span{
            font-weight: 700;
            margin-right: 5px;
        }
    }
    p{
        padding-left: 32px;
    }
}
.reading-module-faq-list-1{
    .widget-content{
        .search-box-4{
            margin-top: 30px;
        }
        > ul{
            margin-top: 50px;
        }
        .ct-loadmore{
            margin-top: 85px;
        }
    }
}

/*--- reading-module-article-list-5 ---*/

.reading-module-article-list-5{
    @extend .reading-module-scroll-1;
    .widget-content > ul{
        margin-top: -30px;
        > li{
            margin-top: 30px;
            &.col-md-4{
                @media screen and (max-width: 979px){ 
                    width: 50%;
                }
                @media screen and (max-width: 479px){ 
                    width: 100%;
                }
            }
        } 
    }
    .ct-loadmore{
        margin-top: 50px;
    }
}
.blog-article-list-1{
    @extend %list_reset;
    @extend .reading-module-scroll-1;
    margin-top: -50px;
    > li{
        margin-top: 50px;
    }
}

/*--- reading-module-social-1 ---*/

.reading-module-social-1 {
    .widget-content{
        padding: 40px 35px;
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
    }
    ul {
        margin: -10px -5px 0;
        padding: 0;
        li {
            text-align: center;
            float: left;
            margin-top: 10px;
            padding: 0 5px;
            width: 1 / 3 * 100%;
            @media screen and (max-width: 1160px){ 
                width: 50% !important;
            }
            &.style-02 {
                a {
                    background: #45b0e3;
                }
            }
            &.style-03 {
                a {
                    background: #f84e3f;
                }
            }
            &.style-04 {
                a {
                    background: #44bbff;
                }
            }
            &.style-05 {
                a {
                    background: #cc181e;
                }
            }
            &.style-06 {
                a {
                    background: #42bab0;
                }
            }
            a {
                display: block;
                padding: 20px 10px;
                color: $cl-001;
                text-transform: capitalize;
                background: #39599f;
                i{
                    font-size: 22px;
                    line-height: 30px;
                    display: block;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 15px;
                    font-weight: 700;
                    margin: 0;
                }
                span {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }
}

/*--- reading-module-instagram-1 ---*/

.reading-module-instagram-1{
    .widget-content > ul{
        margin: -14px -7px 0;
        > li{
            width: 1/3 * 100% !important;
            float: left;
            padding: 0 7px;
            margin-top: 14px;
            text-align: center;
        }
    }
}

/*--- reading-module-fb-1 ---*/

.reading-module-fb-1 {
    .widget-content{
        padding: 40px 35px;
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
    }
}

/*--- reading-module-twitter-1 ---*/

.reading-module-twitter-1{
    .widget-content{
        background: $cl-001;
        > ul{
            > li{
                padding: 40px;
                border-top: 1px solid $cl-006;
            }
        }
    }
    .entry-item{
        > header{
            @extend %clearfix;
            .entry-thumb{
                width: 50px;
                float: left;
                margin-right: 20px;
            }
            .header-content{
                overflow: hidden;
                .entry-title {
                    text-transform: capitalize;
                    margin: -5px 0 0;
                }
                > a{
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 400;
                    font-style: italic;
                    @extend %main_color;
                }
            }
        }
        > p{
            margin: 10px 0 0;
        }
        footer{
            margin-top: 10px;
            a{
                @extend %main_color;
                font-weight: 400;
            }
            p{
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

/*--- ct-module-404 ---*/

.ct-module-404{
    padding: 0 60px;
    @media screen and (max-width: 1160px) {
        padding: 0;
    }
    h4{
        font-size: 46px;
        line-height: 54px;
        font-weight: 300;
        text-transform: capitalize;
        @media screen and (max-width: 767px) {
            font-size: 28px;
            line-height: 36px;
        }
    }
    .search-box-4{
        margin-top: 40px;
    }
    .kopa-btn-14{
        margin-top: 45px;
    }
    @media screen and (max-width: 639px) {
        .widget-content{
            > p{
                br{
                    display: none;
                }
            }
        }
    }
}

/*--- widget_price_filter ---*/

.ui-slider-horizontal{
    height: 2px;
    border: none;
    border-radius: 0;
    background: $cl-005;
    .ui-slider-range {
        @extend %main_bg_color;
    }
    .ui-widget-content .ui-state-default,
    .ui-slider-handle {
        top: -7px;
        margin: 0;
        width: 16px;
        height: 16px;
        border: none;
        outline: none !important;
        border-radius: 50%;
        @extend %main_bg_color;
        &:last-child{
            margin-left: -16px;
        }
    }
}
.widget_price_filter{
    .widget-content{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        padding: 25px 20px;
    }
    .price_slider_wrapper{
        padding: 7px 0 0;
        overflow: hidden;
    }
    .ui-slider-horizontal{
        margin-bottom: 25px;
    }
    .price_slider_amount{
        font-size: 16px;
        color: $color-primary;
    }
}

/*--- reading-module-product-filter-1 ---*/

.ct-ul-1{
    @extend %list_format;
    li{
        @extend %clearfix;
        margin-top: 12px;
        position: relative;
        div{
            position: relative;
            input[type=checkbox]{
                width  : 5px;
                margin : 0;
                padding: 0;
                position: absolute;
                top: 5px;
                left: 5px;
                display: none;
                + label{
                    font-weight: 400;
                    display: inline-block;
                    padding-left: 30px;
                    margin: 0;
                    text-transform: capitalize;
                    > span{
                        @include icon(12px, 12px, 12px, 12px);
                        border: 1px solid $cl-004;
                        background: $cl-001;
                        position: absolute;
                        top: 4px;
                        left: 0;
                        &:before{
                            @extend %fa;
                            content: '\f00c';
                            font-size: 8px;
                            line-height: 10px;
                            color: $cl-001;
                            position: relative;
                            top: -3px;
                        }
                    }
                }
                &:checked {
                    & + label {
                        @extend %main_color;
                        span{
                            @extend %main_bg_color;
                            @extend %main_bd_color;
                        }
                    }
                }
            }
        }
    }
}
.reading-module-product-filter-1{
    .widget-content{
        background: $cl-001;
        border: 1px solid $cl-006;
        border-top: none;
        padding: 30px 15px 30px 30px;
        height: 250px;
    }
    .ct-ul-1{
        padding-right: 20px;
    }
}

/*--- reading-module-carousel-3 ---*/

.owl-carousel-6{
    border: 1px solid $cl-006;
    border-top: none;
    .entry-thumb {
        .ct-mask {
            @include opacity(1);
        }
    }
    .entry-content{
        position: absolute;
        top: 60px;
        left: 125px;
        @media screen and (max-width: 979px){ 
            top: 30px;
        }
        @media screen and (max-width: 767px){ 
            top: 15px;
            left: 50px;
        }
    }
    @media screen and (max-width: 639px){ 
        .ct-title-11{
            display: none;
        }
    }
    @media screen and (max-width: 479px){ 
        display: none !important;
    }
}

/*--- ct-widget-2 ---*/

.widget-content-area-1{
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    padding: 30px;
    margin-top: 30px;
    &:first-child{
        margin-top: 0;
    }
}
.widget-content-area-2{
    @include list_t(50px, 50px, 1px solid #ebebeb);
    &:first-child{
        @include list_t(30px, 0, none);
    }
    @media screen and (max-width: 639px){ 
        @include list_t(20px, 20px, 1px solid #ebebeb);
        &:first-child{
            @include list_t(10px, 0, none);
        }
    }
}
.widget-content-area-3{
    @extend .widget-content-area-1;
    padding: 50px 30px;
}
.widget-content-inner-1{
    padding: 40px 35px;
    @extend %main_bg_color;
}
.widget-content-inner-2{
    @include list_t(50px, 50px, 1px solid #ebebeb);
    &:first-child{
        @include list_t(0, 0, none);
    }
    @media screen and (max-width: 639px){ 
        @include list_t(20px, 20px, 1px solid #ebebeb);
    }
}

.ct-ul-3{
    margin-top: -20px !important;
    > li{
        > div{
            margin: 20px 0 0;
        }
        &.col-md-6{
            @media screen and (max-width: 767px){ 
                width: 100%;
            }
        }
    }
}
.ct-ul-4{
    margin-top: -40px !important;
    > li{
        > div{
            margin: 40px 0 0;
        }
        &.col-md-6{
            @media screen and (max-width: 767px){ 
                width: 100%;
            }
        }
    }
}
.ct-ul-5{
    margin-top: -30px !important;
    > li{
        margin: 30px 0 0;
        &.col-md-3{
            @media screen and (max-width: 979px){ 
                width: 50%;
            }
            @media screen and (max-width: 479px){ 
                width: 100%;
            }
        }
        &.col-md-6{
            @media screen and (max-width: 767px){ 
                width: 100%;
            }
        }
        &.col-custom-5{
            @media screen and (max-width: 639px){ 
                width: 100%;
            }
        }
    }
    .ct-btn-1{
        &.style-03, &.style-04{
            margin-top: 5px;
        }
        &.style-05, &.style-06{
            margin-top: 10px;
        }
    }
}
.ct-ul-6{
    @extend %clearfix;
    background: $cl-001;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    > li{
        padding: 55px 30px;
        border-left: 1px solid #ebebeb; 
        border-top: 1px solid #ebebeb;
        @media screen and (max-width: 979px){ 
            width: 50%;
        }
        @media screen and (max-width: 639px){ 
            width: 100%;
        }
    }
}




/**
 * 3.2 Home page
 * -------------------------------------------------------------------
 */

/**
 * 3.3 Sub page
 * -------------------------------------------------------------------
 */

/*--- contact-page ---*/

.ct-form-box {
    margin: 0 0 0;
    @media screen and (max-width: 639px){ 
        .row{
            > div{
                width: 100%;
            }
        }
    }
    .input-block,
    .textarea-block {
        position: relative;
        margin: 35px 0 0;
        overflow: hidden;
        &.btn-block{
            margin-top: 50px;
        }
    }
    .textarea-block {
        label.error {
            top: -2px;
        }
    }
    .input-block {
        &:first-child {}
    }
    input,
    textarea {
        box-shadow: none;
        border: 1px solid $cl-008;
        background: $cl-001;
        font-size: 14px;
        line-height: 48px;
        font-weight: 300;
        padding: 0 15px;
        width: 100%;
        color: $cl-004;
        &[type="submit"] {
            @extend %transition;
            border: none !important;
            outline: none !important;
            @extend %main_bg_color;
            font-size: 18px;
            font-weight: 400;
            text-transform: capitalize;
            color: $cl-001;
            width: auto;
            padding: 0 75px;
            border-radius: 50px;
            &:hover {
                background: $color-primary;
            }
        }
        &:focus {
            outline: 0;
        }
    }
    textarea {
        width: 100%;
        padding: 9px 15px;
        line-height: 26px;
    }
    label.error {
        @extend %main_color;
        position: absolute;
        top: 0;
        right: 15px;
        margin: 0;
        line-height: 50px;
        font-weight: 300;
    }
    ::-webkit-input-placeholder {
        color: $cl-004;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: $cl-004;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $cl-004;
    }

    :-ms-input-placeholder {
        color: $cl-004;
    }

}

/*--- FAQs ---*/

.ct-form-box.style-01{
    padding-bottom: 50px;
    form{
        background: $color-002;
        padding: 45px 35px 50px;
        position: relative;
        > span{
            @include before-bottom(0px, 70px, 55px, $color-002, -50px);
            left: auto;
            right: 40px;
            @include skew(-25deg);
        }
        h4{
            font-size: 36px;
            line-height: 44px;
            font-weight: 300;
            color: $cl-001;
            margin-bottom: 25px;
        }
    }
    .input-block,
    .textarea-block {
        margin: 20px 0 0;
        overflow: hidden;
        &.btn-block{
            margin-top: 30px;
        }
    }
    .textarea-block {
        label.error {
            top: 4px;
        }
    }
    .input-block {
        &:first-child {}
    }
    input,
    textarea {
        border-color: rgba(255,255,255,.5);
        background: none;
        line-height: 34px;
        color: rgba(255,255,255,.5);
        &[type="submit"] {
            color: $color-primary;
            background: $cl-001;
            font-size: 14px;
            line-height: 40px;
            width: 100%;
            padding: 0 10px;
            border-radius: 40px;
            text-align: center;
            &:hover {
                @extend %main_bg_color;
                color: $cl-001;
            }
        }
    }
    label.error {
        line-height: 36px;
    }
    textarea {
        line-height: 22px;
    }
    ::-webkit-input-placeholder {
        color: rgba(255,255,255,.5);
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255,255,255,.5);
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255,255,255,.5);
    }

    :-ms-input-placeholder {
        color: rgba(255,255,255,.5);
    }
}

/*--- single pages ---*/

/* tags box */

.kopa-tag-box{
    padding: 16px 40px;
    background: $cl-014;
    border: 1px solid $cl-006;
    border-top: none;
    font-weight: 400;
    color: $cl-004;
    span{
        color: $color-primary;
        margin-right: 15px;
        i{
            color: $cl-004;
            margin-right: 15px;
        }
    }
    a{
        color: $cl-004;
        &:hover{
            @extend %main_color;
        }
    }
}

/* social */

.reading-module-social-2{
    @extend .reading-module-social-1;
    @extend %list_reset;
    ul{
        li{
            width: 1/6 * 100%;
        }
    }
}

/* single-post-author */

.single-post-author{
    @extend .white-text-style;
    @extend %clearfix;
    padding: 40px;
    background: $color-primary;
    @media screen and (max-width: 479px) {
        padding: 25px;
        .kopa-pull-left{
            float: none;
        }
    }
    .author-avatar{
        width: 124px;
        border-radius: 50%;
        margin: 0 30px 0 0;
        img{
            border-radius: 50%;
        }
        @media screen and (max-width: 479px) {
            margin: 0 0 20px 0;
        }
    }
    .author-content-wrap{
        overflow: hidden;
        @media screen and (max-width: 479px) {
            overflow: visible;
        }
        header{
            @extend %clearfix;
            margin: 0 0 10px;
            @media screen and (max-width: 639px) {
                .kopa-pull-right{
                    float: left;
                    margin: 15px 0;
                }
            }
            h5{
                font-size: 24px;
                line-height: 32px;
                text-transform: capitalize;
                position: relative;
                padding-left: 20px;
                @extend %clearfix;
                &:before{
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 5px;
                    height: 34px;
                    @extend %main_bg_color;
                }
                a{
                    float: left;
                    &:last-child{
                        font-size: 12px;
                        line-height: 20px;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: 3px 18px;
                        margin-left: 15px;
                        border-radius: 26px;
                        background: $color-002;
                        @media screen and (max-width: 639px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.white-text-style{
    .author-content-wrap header h5 a{
        &:hover{
            @include opacity(1);
            @extend %main_color;
        }
        &:last-child{
            &:hover{
                color: $cl-001;
                @extend %main_bg_color;
            }
        }
    }
}

/* single-other-post */

.single-other-post{
    @extend %list_reset;
    text-align: center;
    ul{
        margin-top: -30px;
        li{
            margin-top: 30px;
            &:first-child{
                i{
                    margin: 0 15px 0 0;
                }
            }
        }
    }
    a{
        display: block;
        background: $cl-001;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        padding: 17px 20px;
        border-radius: 60px;
        i{
            margin-left: 15px;
        }
    }
}

/* owl-carousel-5 */

.owl-carousel-5{
    @extend .reading-module-scroll-1;
    .item{
        padding: 0 15px;
    }
    .owl-controls {
        .owl-pagination {
            position: absolute;
            top: -95px;
            right: 15px;
        }
    }
    @media screen and (max-width: 479px){ 
        padding-top: 60px;
        .owl-controls {
            .owl-pagination {
                top: -30px;
                left: 15px;
                right: auto;
            }
        }
    }
}

/* comments-list */

.single-comment-list {
    @extend %list_reset;
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    > h3{
        background: $cl-014;
        border-bottom: 1px solid $cl-006;
        padding: 24px 30px;
        text-transform: capitalize;
        span{
            @extend %main_color;
        }
    }
    .comments-list {
        @extend %clearfix;
        margin:  0;
        padding: 0;
        .comment,
        > li {
            @extend %clearfix;
            padding: 50px 30px;
            border-top: 1px solid $cl-006;
            &:first-child{
                border-top: none;
            }
            .comment-avatar {
                width: 80px;
                border-radius: 50%;
                margin-right: 30px;
                img{
                    border-radius: 50%;
                }
                @media screen and (max-width: 639px) {
                    float: none;
                    margin: 0 0 30px 0;
                }
            }
            .comment-content{
                @extend %clearfix;
                overflow: hidden;
                position: relative;
            }
        }
        .children {
            margin: 0;
            padding: 0 0 0 50px;
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                background: $cl-013;
                border-radius: 50%;
                position: absolute;
                top: 30px;
                left: 35px;
                @media screen and (max-width: 639px){ 
                    display: none;
                }
            }
            li{
                position: relative;
                padding-bottom: 0;
                border-top: none;
                &:before{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 60px;
                    background: $cl-013;
                    position: absolute;
                    top: 30px;
                    left: -11px;
                }
                &:after{
                    content: '';
                    display: block;
                    width: 9px;
                    height: 9px;
                    background: $color-002;
                    border-radius: 50%;
                    position: absolute;
                    top: 85px;
                    left: -15px;
                }
            }
            @media screen and (max-width: 639px) {
                padding-left: 0;
            }
        }
    }
}

/* comments-list */

.single-comment-form {
    @extend %list_reset;
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    > h3{
        background: $cl-014;
        border-bottom: 1px solid $cl-006;
        padding: 24px 30px;
        text-transform: capitalize;
        span{
            @extend %main_color;
        }
    }
    .comment-form-content{
        padding: 15px 30px 50px;
    }
}

/*_____________ single-entry-item _____________*/

.single-entry-item{
    > section{
        @extend .reading-module-scroll-1;
    }
    > div{
        margin-top: 30px;
        &:first-of-type{
            margin-top: 0;
        }
        &.single-related-post{
            margin-top: 50px;
        }
    }
}


/*_____________ Shop _____________*/

@import "sass/modules/woocommerce";


.ct-ul-2{
    @extend %list_reset;
    margin: -8px -6px 0 14px;
    li{
        @extend %clearfix;
        float: left;
        margin: 12px 6px 0;
        cursor: pointer;
        &.active{
            span{
                @extend %main_color;
            }
        }
    }
    span{
        color: $cl-004;
        cursor: pointer;
    }
}
.product-num-ordering{
    > *{
        float: left;
    }
    p{
        margin: 4px 10px 0 0;
    }
    select{
        padding: 3px 10px 2px;
        border: 1px solid #e9e9e9;
        box-shadow: none;
        border-radius: 0;
        outline: none;
    }
}
.woocommerce-main-header{
    background: $cl-001;
    border: 1px solid $cl-006;
    border-top: none;
    padding: 15px 20px 10px;
    @extend %clearfix;
    @media screen and (max-width: 479px){ 
        padding: 20px 10px;
    }
    > div{
        @extend %clearfix;
        > *{
            float: left;
            @extend %clearfix;
        }
        @media screen and (max-width: 639px){ 
            width: 100%;
            float: none;
            margin-top: 15px;
            &:first-child{
                margin-top: 0;
            }   
        }
        @media screen and (max-width: 479px){ 
            &.kopa-pull-right{
                > *{
                    width: 100%;
                    float: none;
                    margin: 10px 0 0 !important;
                    &:first-child{
                        margin-top: 0 !important;
                    } 
                    &.woocommerce-pagination{
                        margin: 15px 0 0 0 !important;
                        text-align: left;
                    }
                } 
            }
        }
    }
    .woocommerce-ordering{
        margin-bottom: 0;
    }
    nav.woocommerce-pagination{
        margin: 2px 0 0 60px;
    }
}

.woocommerce-main-content{
    @extend %list_reset;
    > ul{
        > li{
            margin-top: 30px;
            @media screen and (max-width: 979px){ 
                width: 50%;
            }
            @media screen and (max-width: 479px){ 
                width: 100%;
            }
        }
    }
    &.style-01{
        > ul{
            > li{
                width: 100%;
            }
        }
        .ct-item-4{
            padding: 5px;
            .entry-thumb{
                @extend %clearfix;
                padding: 0;
                > a{
                    display: block;
                    width: 260px;
                    float: left;
                }
            }
            .entry-content{
                position: relative;
                bottom: auto;
                left: auto;
                right: auto;
                padding: 30px;
                overflow: hidden;
                header{
                    margin-left: 0;
                    &:before {
                        width: 5px;
                        height: 75%;
                    }
                }
                .entry-title{
                    font-size: 24px;
                    line-height: 32px;
                }
                > p{
                    max-height: 1000px;
                }
            }
            .ct-space-1{
                display: none;
            }
            .ct-icon-1{
                position: relative;
                top: auto;
                right: auto;
                width: auto;
                height: auto;
                background: none;
                text-align: left;
                font-size: 28px;
                line-height: 36px;
                @extend %main_color;
                margin-top: 10px;
                span{
                    font-size: 28px;
                    line-height: 36px;
                }
            }
            footer{
                width: 100%;
                left: auto;
                right: auto;
                bottom: auto;
                margin-top: 10px;
            }
            .ft-wrap{
                text-align: left;
                ul{
                    margin: -10px -10px 0;
                    li{
                        width: auto;
                        margin: 10px 10px 0;
                        a{
                            padding: 0;
                            border: none;
                        }
                    }
                }
                &.style-01{
                    font-size: 14px;
                    line-height: 22px;
                    i{
                        margin-right: 10px;
                    }
                }
                &.style-02{
                    position: relative;
                    top: auto;
                    left: auto;
                    font-size: 20px;
                    margin-top: 15px;
                    ul{
                        margin: -10px -14px 0;
                        li{
                            width: auto;
                            margin: 10px 15px 0;
                            @extend %transition;
                            a{
                                color: $color-secondary;
                                .ti-sharethis{
                                    font-size: 16px;
                                }
                                &:hover{
                                    @extend %main_color;
                                    background: none;
                                }
                            }
                        }
                    }
                    i{
                        float: left;
                    }
                    span{
                        display: inline-block;
                        font-size: 14px;
                        margin-left: 7px;
                    }
                }
            }
            &:hover{
                .entry-content{
                    > p{
                        max-height: 1000px;
                    }
                }
            }
        }
        .ct-item-4.style-02{
            .ct-icon-1{
                color: $color-001;
            }
            .ft-wrap{
                &.style-02{
                    ul{
                        li{
                            a{
                                &:hover{
                                    color: $color-001;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ct-item-4.style-03{
            .ct-icon-1{
                color: $color-003;
            }
            .ft-wrap{
                &.style-02{
                    ul{
                        li{
                            a{
                                &:hover{
                                    color: $color-003;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ct-item-4.style-04{
            .ct-icon-1{
                color: $color-002;
            }
            .ft-wrap{
                &.style-02{
                    ul{
                        li{
                            a{
                                &:hover{
                                    color: $color-002;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.woocommerce-main-footer{
    @extend .woocommerce-main-header;
    margin-top: 30px;
    > div{
        @extend %clearfix;
        @media screen and (max-width: 639px){ 
            width: 100%;
            float: none;
            margin-top: 15px;
            &:first-child{
                margin-top: 0;
            }   
        }
    }
    nav.woocommerce-pagination{
        margin: 2px 0 0 0;
    }
}

.woocommerce-area-1{
    @extend %clearfix;
    background: $cl-001;
    padding: 5px;
    border: 1px solid $cl-006;
    border-top: none;
}
.woocommerce-tabs{
    @extend .woocommerce-area-1;
    background: $cl-014;
    border: 1px solid $cl-008;
    border-top: none;
    margin-top: 30px;
    padding: 30px;
    @media screen and (max-width: 639px){ 
        padding: 30px 10px;
    }
}
.wc-tab{
    display: none;
    &.active{
        display: block;
    }
}

.woocommerce, .woocommerce-page{
    @media screen and (max-width: 639px){ 
        #content table.cart, table.cart,
        table.shop_table {
            display: block;
            tfoot td, tfoot th{
                display: block;
            }
            th{
                display: block;
            }
             td {
                display: block;
            }
            tbody{
                display: block;
            }
            thead{
                .product-remove, .product-thumbnail{
                    display: none;
                }
            }
            .coupon{
                input.input-text{
                    width: 100% !important;
                }
                input.button{
                    margin-top: 15px;
                }
            }
        }
    }
}

/*--- coming-soon page ---*/

.newsletter-form.style-01 {
    position: relative;
    padding-right: 55px;
    input[type="text"] {
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        padding: 0 25px;
        height: 48px;
        line-height: 46px;
    }
    button {
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 55px;
        height: 48px;
        line-height: 46px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        &:hover {
            @extend %main_color;
        }
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.5);
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.5);
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

.reading-module-cs{
    .kopa-logo{
        margin-bottom: 35px;
    }
    .ct-countdown-4, .newsletter-form, .kopa-social-links{
        margin-top: 45px;
    }
}



/**
* 3.4 - Sidebar / .sidebar
* -------------------------------------------------------------------
*/



#main-content {
    .sidebar {
        .widget {
            margin-bottom: 30px;
        }
        &.style-01{
            .widget {
                margin-bottom: 50px;
            }
        }
    }
    .main-col{
        &.style-01{
            .widget {
                margin-bottom: 30px;
            }
        }
    }
}


/**
* 3.5 - Bottom sidebar / #bottom-sidebar
* -------------------------------------------------------------------
*/

.bottom-sidebar { 
    background: $color-primary;
    &.style-01{
        padding-top: 220px;
        overflow: hidden;
    }
    &.style-02{
        @extend .style-01;
    }
}


/**
 * 4. Footer
 * -----------------------------------------------------------------------------
 */


.scroll-up {
    z-index: 99999999;
    @include icon(55px, 55px, 55px, 16px);
    @extend %main_bg_color;
    border-radius: 50%;
    position: fixed;
    right: 20px; 
    bottom: 20px;
    margin: 0;
    color: $cl-001 !important;
    display: none;
    &:hover {
        background: $color-primary;
    }
}

.copyright{
    position: relative;
    a{
        @extend %main_color;
    }
}
.white-text-style{
    .copyright{
        a{
            @extend %main_color;
        }
    }
}

.kopa-footer{
    padding: 30px 0;
    background: $cl-012;
    @extend .white-text-style;
    .kopa-pull-right{
        ul{
            @extend %list_reset;
            margin: -24px -12px 0;
            li{
                float: left;
                margin: 24px 12px 0;
            }
        }
    }
}

/*--- Firefox ---*/ 

@-moz-document url-prefix() {

}



/** 
 * 5. - Responsive
 * -------------------------------------------------------------------
 */

@import "sass/responsive";